## Reading from Spreadsheets

In [2]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5

In [6]:
import openpyxl

In [7]:
work_book = openpyxl.load_workbook('company_revenue.xlsx')

In [8]:
work_book.sheetnames

['Revenue']

In [9]:
sheet_obj = work_book['Revenue'] #assigned sheet object from the workbook (its like a dataframe)

In [10]:
sheet_obj.title

'Revenue'

In [12]:
sheet_obj['A1']

In [13]:
sheet_obj['A1'].value #contents of the cell

'Region'

In [15]:
type (sheet_obj['B1']) #a lot of nested types

openpyxl.cell.cell.Cell

In [16]:
dir (sheet_obj['B1']) #to see all the attributes or properties that we can use to manipulate a cell object

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__slots__',
 '__str__',
 '__subclasshook__',
 '_bind_value',
 '_comment',
 '_hyperlink',
 '_style',
 '_value',
 'alignment',
 'base_date',
 'border',
 'check_error',
 'check_string',
 'col_idx',
 'column',
 'column_letter',
 'comment',
 'coordinate',
 'data_type',
 'encoding',
 'fill',
 'font',
 'has_style',
 'hyperlink',
 'internal_value',
 'is_date',
 'number_format',
 'offset',
 'parent',
 'pivotButton',
 'protection',
 'quotePrefix',
 'row',
 'style',
 'style_id',
 'value']

In [17]:
cell = sheet_obj['B1']

In [18]:
cell.row  #starts with 1 NOT 0

1

In [19]:
cell.column

2

In [20]:
cell.number_format #one of its properties

'General'

In [21]:
cell.data_type #data type in this case is a spring because it is an s

's'

In [22]:
cell.coordinate

'B1'

In [23]:
cell.value

'Country'

In [31]:
print(f"""{sheet_obj['C2'].value}\
 based in {sheet_obj['B2'].value}, {sheet_obj['A2'].value}\
 has a profit of ${sheet_obj['N2'].value}
""")

Baby Food based in Tuvalu, Australia and Oceania has a profit of $951410.5

In [36]:
sheet_obj.cell(row=2,column=3) #starts with 1 dont forget

In [37]:
sheet_obj.max_row

101

In [38]:
sheet_obj.max_column #useful when iterating

14

In [39]:
max_col = sheet_obj.max_column

In [40]:
for i in range(1,max_col+1):
    cell_obj = sheet_obj.cell(row=1,column = i)
    print(cell_obj.value)

Region
Country
Item Type
Sales Channel
Order Priority
Order Date
Order ID
Ship Date
Units Sold
Unit Price
Unit Cost
Total Revenue
Total Cost
Total Profit

In [41]:
max_row = sheet_obj.max_row
for i in range(1,max_row+1):
    cell_obj = sheet_obj.cell(row=i,column = 1)
    print(cell_obj.value)

Region
Australia and Oceania
Central America and the Caribbean
Europe
Sub-Saharan Africa
Sub-Saharan Africa
Australia and Oceania
Sub-Saharan Africa
Sub-Saharan Africa
Sub-Saharan Africa
Sub-Saharan Africa
Asia
Sub-Saharan Africa
Asia
Central America and the Caribbean
Asia
Europe
Asia
Sub-Saharan Africa
Asia
Australia and Oceania
Europe
Europe
Central America and the Caribbean
Australia and Oceania
Europe
Europe
Australia and Oceania
Sub-Saharan Africa
Europe
Sub-Saharan Africa
Europe
Sub-Saharan Africa
Australia and Oceania
Asia
Sub-Saharan Africa
Central America and the Caribbean
Middle East and North Africa
Sub-Saharan Africa
Asia
Europe
Sub-Saharan Africa
Middle East and North Africa
Sub-Saharan Africa
Europe
Asia
Sub-Saharan Africa
Europe
Europe
Europe
Sub-Saharan Africa
Europe
Sub-Saharan Africa
Middle East and North Africa
Sub-Saharan Africa
Sub-Saharan Africa
Sub-Saharan Africa
Australia and Oceania
Europe
Europe
Sub-Saharan Africa
Australia and Oceania
Europe
Sub-Saharan Africa
Middle East and North Africa
Central America and the Caribbean
Sub-Saharan Africa
Sub-Saharan Africa
Central America and the Caribbean
Europe
Sub-Saharan Africa
Asia
Middle East and North Africa
Sub-Saharan Africa
Sub-Saharan Africa
Middle East and North Africa
North America
Australia and Oceania
Asia
Europe
Australia and Oceania
Europe
Middle East and North Africa
Middle East and North Africa
Sub-Saharan Africa
Sub-Saharan Africa
North America
Sub-Saharan Africa
Sub-Saharan Africa
Middle East and North Africa
Europe
Sub-Saharan Africa
Australia and Oceania
Middle East and North Africa
Europe
Central America and the Caribbean
Sub-Saharan Africa
Asia
Sub-Saharan Africa
North America
Sub-Saharan Africa

In [42]:
##cell ranges
sheet_obj['A1':'C2']

((<Cell 'Revenue'.A1>, <Cell 'Revenue'.B1>, <Cell 'Revenue'.C1>),
 (<Cell 'Revenue'.A2>, <Cell 'Revenue'.B2>, <Cell 'Revenue'.C2>))

In [44]:
for rows in sheet_obj['A1':'C2']:
    for cell in rows:
        print(cell.coordinate,cell.value)  #shows where one row ends/starts
    print('--------------------------')

A1 Region
B1 Country
C1 Item Type
--------------------------
A2 Australia and Oceania
B2 Tuvalu
C2 Baby Food
--------------------------

In [46]:
for row in sheet_obj.iter_rows(min_row = 1,max_row=2,min_col=1,max_col=3):  #same thing as before but uses the iter_rows
    print(row)

(<Cell 'Revenue'.A1>, <Cell 'Revenue'.B1>, <Cell 'Revenue'.C1>)
(<Cell 'Revenue'.A2>, <Cell 'Revenue'.B2>, <Cell 'Revenue'.C2>)

In [47]:
for value in sheet_obj.iter_rows(min_row = 1,max_row=2,min_col=1,max_col=3,values_only=True): #this one just gets value and ignores metadata
    print(value)

('Region', 'Country', 'Item Type')
('Australia and Oceania', 'Tuvalu', 'Baby Food')

In [48]:
## convert to json
import json

In [51]:
grocery = {}
for row in sheet_obj.iter_rows(min_row = 2,max_row = 4,min_col=1,max_col=3,values_only=True):
    item = row[2]
    loc_details = {
    "Region":row[0],
        "Country":row[1]
    }
    grocery[item] = loc_details 
    #row[0] region row[1] country row[2] item
    print(row)
    print("----------")

('Australia and Oceania', 'Tuvalu', 'Baby Food')
----------
('Central America and the Caribbean', 'Grenada', 'Cereal')
----------
('Europe', 'Russia', 'Office Supplies')
----------

In [52]:
print(json.dumps(grocery,indent=4,sort_keys=True))

{
    "Baby Food": {
        "Country": "Tuvalu",
        "Region": "Australia and Oceania"
    },
    "Cereal": {
        "Country": "Grenada",
        "Region": "Central America and the Caribbean"
    },
    "Office Supplies": {
        "Country": "Russia",
        "Region": "Europe"
    }
}

In [53]:
json_obj = json.dumps(grocery,indent=4,sort_keys=True)

In [55]:
with open("groceryitems.json", "w") as outfile:
	outfile.write(json_obj)

## Writing to Spreadsheets

In [56]:
import openpyxl

In [59]:
work_book = openpyxl.Workbook()

In [60]:
work_book.active #to see what sheet this is

In [61]:
sheet = work_book['Sheet']

In [62]:
sheet['A1'] = 'Health'
sheet['B1'] = 'Armor'
sheet['C1'] = 'Cash'
sheet['D1'] = 'Name'

In [64]:
sheet['D1'].value

'Name'

In [65]:
work_book.save('game_players.xlsx')

In [66]:
sheet['B1'] = 'Health'
sheet['C1'] = 'Armor'
sheet['D1'] = 'Cash'
sheet['A1'] = 'Name'  ##change the name to a1 and shift everything else
sheet['E1'] = 'Car'

In [67]:
work_book.save('game_players.xlsx') #overwrites changes to the workbook

In [69]:
sheet.calculate_dimension()  #returning the range that has data

'A1:E1'

In [71]:
sheet.append(['Bobby','Kevlar','20%',500000,'Turismo'])

In [72]:
work_book.save('game_players.xlsx')

In [73]:
sheet.insert_rows(idx=2,amount=3) #inserting 3 rows starting from row number 2

In [74]:
sheet.insert_cols(idx=3) #inserting a new column at C since start with 1,2,3..

In [75]:
sheet.calculate_dimension()

'A1:F5'

In [76]:
work_book.save('game_players.xlsx')  #a new empty column and empty new rows that will reflect

In [77]:
sheet.delete_rows(idx=2,amount=3) #deletes what we inserted

In [78]:
sheet.delete_cols(3)

In [79]:
sheet.calculate_dimension()

'A1:E2'

In [80]:
work_book.save('game_players.xlsx')

In [82]:
##adjust sheet names

sheet.title = 'FirstSheet'
sheet.title

'FirstSheet'

In [1]:
data = [['Planet','Radius','Distance from the Sun'],['Earth',6371,150],['Mars',3389,228],['Mercury',2440,58]]

In [2]:
import openpyxl

In [3]:
planet_wb = openpyxl.Workbook()

In [4]:
planet_sheet = planet_wb['Sheet']

In [6]:
planet_sheet.title = 'Planets'

In [8]:
for row in data:
    planet_sheet.append(row)

In [9]:
planet_sheet.calculate_dimension()

'A1:C4'

In [10]:
planet_wb.save('planets.xlsx')

In [14]:
##freeze panes
work_book = openpyxl.load_workbook('zomato.xlsx')

In [15]:
sheet = work_book.active

In [16]:
sheet.freeze_panes = 'A2'

In [17]:
work_book.save('zomato.xlsx')

In [18]:
sheet.freeze_panes = 'B1'  #freezes column A

In [19]:
work_book.save('zomato.xlsx')

In [20]:
sheet.freeze_panes = 'C2' #any above the row and any on the left will freeze

In [21]:
work_book.save('zomato.xlsx')

## Filter/Sort Data

In [22]:
import openpyxl

In [23]:
work_book = openpyxl.Workbook()

In [25]:
work_sheet = work_book.active

In [26]:
data = [['Champion','Year'],['FR',2018],['SP',2010],['IT',2006],['FR',1998],['BRZ',1994],['ARG',1986],['GER',1974],['BRZ',1970],['ENG',1966]
       ]

In [27]:
for item in data:
    work_sheet.append(item)

In [29]:
work_book.save('wc_winners.xlsx')

In [31]:
work_sheet.calculate_dimension()

'A1:B10'

In [32]:
work_sheet.auto_filter.ref = work_sheet.calculate_dimension() #filter the selected rows, in this case all of them

In [36]:
work_sheet.auto_filter.add_filter_column(0,['BRZ','IT','ARG'])

In [37]:
work_book.save('wc_winners.xlsx') #there is a bug so select reapply in excel

In [38]:
work_sheet['B'][1],work_sheet['B'][-1]

(<Cell 'Sheet'.B2>, <Cell 'Sheet'.B10>)

In [39]:
range_str = work_sheet['B'][1].coordinate + ':' + work_sheet['B'][-1].coordinate
range_str

'B2:B10'

In [40]:
work_sheet.auto_filter.add_sort_condition(range_str,descending=True)

In [41]:
work_book.save('wc_winners.xlsx') #there is a bug so select reapply in excel

## Resize/Merge Rows & Columns

In [42]:
import openpyxl
work_book = openpyxl.Workbook()

In [43]:
sheet_obj = work_book.active
sheet_obj

In [44]:
sheet_obj.title = 'FirstSheet'
sheet_obj

In [45]:
sheet_obj['C1'] = 'A high row'
sheet_obj['D4'] = 'A wide column'

In [46]:
sheet_obj.row_dimensions[1].height = 70

In [47]:
sheet_obj.column_dimensions['D'].width = 60

In [48]:
work_book.save('resize.xlsx')

In [49]:
work_book.create_sheet(title='BrandNewSheet',index=0)

In [50]:
new_sheet = work_book.active
new_sheet

In [51]:
work_book.save('resize.xlsx')

In [53]:
new_sheet.merge_cells('A1:D3')

In [54]:
work_book.save('resize.xlsx')

In [55]:
new_sheet['C2'] = 'Data in a merged cell'    #need to refer to it with its top cell because other cells are read only

AttributeError: 'MergedCell' object attribute 'value' is read-only

In [56]:
new_sheet['A1'] = 'Data in a merged cell'
work_book.save('resize.xlsx')

In [57]:
from openpyxl.styles import Alignment
new_sheet['A1'].alignment = Alignment(horizontal='center') #now horizontally center aligned

In [58]:
work_book.save('resize.xlsx')

In [59]:
new_sheet['A1'].alignment = Alignment(vertical='center')  #the horizontal alignment will be overwritten so need to specify
work_book.save('resize.xlsx')

In [61]:
new_sheet['A1'].alignment = Alignment(vertical='top',horizontal='right') 
work_book.save('resize.xlsx')

In [62]:
new_sheet.merge_cells('B5:G5')
new_sheet['B5'] = 'We just merged cells in the same row'
new_sheet['B5'].alignment = Alignment(horizontal='center')
work_book.save('resize.xlsx')

## Fonts & Styles

In [63]:
import openpyxl

In [64]:
work_book = openpyxl.load_workbook('student_data.xlsx')
work_book.sheetnames

['Sheet1']

In [65]:
sheet = work_book['Sheet1']

In [74]:
from openpyxl.styles import Font, Color, Alignment, Border, Side, colors
bold_font = Font(bold=True)
big_red = Font(color='FF000000',size=20)
center_aligned_text = Alignment(horizontal='center')
double_border_side = Side(border_style='double')

In [75]:
square_border = Border(top = double_border_side,right=double_border_side,bottom=double_border_side,left=double_border_side)

In [77]:
sheet['B2'].font = bold_font
sheet['B3'].font = big_red
sheet['C4'].alignment = center_aligned_text
sheet['C5'].border = square_border

In [78]:
work_book.save('styled.xlsx')

In [81]:
from openpyxl.styles import NamedStyle
custom_style = NamedStyle(name='header')
custom_style.font = Font(bold=True)
custom_style.alignment = Alignment (horizontal='center',vertical = 'center')

In [82]:
header_row = sheet[1]
for cell in header_row:
    cell.style = custom_style
work_book.save('styled.xlsx')

In [84]:
from openpyxl.styles.fills import PatternFill
one_more = NamedStyle(name="highlight")
one_more.fill = PatternFill(fgColor = colors.Color('d7abcc'),patternType = 'lightHorizontal')

In [85]:
for cell in sheet ['A']:
    cell.style = one_more
work_book.save('styled.xlsx')

In [86]:
import openpyxl
work_book = openpyxl.load_workbook('sales_record.xlsx')
sheet = work_book.active

In [88]:
print(f"""Max row: {sheet.max_row} Max column: {sheet.max_column}""")

Max row: 101 Max column: 14

In [89]:
for row in sheet ['K2:M101']:
    for cell in row:
        cell.number_format = '#,##0'

In [90]:
work_book.save('sales_record.xlsx')

In [ ]:
from openpyxl.styles import PatternFill, colors
from openpyxl.styles.differential import DifferentialStyle
from openpyxl.formatting.rule import Rule

## Line Charts

In [1]:
from openpyxl.chart import LineChart, Reference

In [3]:
import openpyxl
wb = openpyxl.load_workbook('oil_prices.xlsx')
sheet = wb.active

In [4]:
values = Reference(sheet, min_col = 2, min_row = 2, 
                          max_col = 2, max_row = sheet.max_row)

In [5]:
chart = LineChart()

In [6]:
chart.add_data(values)

In [7]:
chart.title = "Brent Crude Prices"

In [8]:
chart.x_axis.title = "Time"

In [9]:
chart.y_axis.title = "Price(US$)"

In [10]:
sheet.add_chart(chart, "E5")  #adding chart to the sheet (anchored to cell E5)

In [12]:
wb.save("oil_price_charts.xlsx") #save the xlsx file

In [13]:
chart = LineChart() 

chart.title = "Brent Crude Prices"
chart.x_axis.title = "Time"
chart.y_axis.title = "Price(US$)"

In [14]:
values = Reference(sheet, min_col = 2, min_row = 1, 
                          max_col = 2, max_row = sheet.max_row)

In [15]:
chart.add_data(values, titles_from_data = True)

In [16]:
dates = Reference(sheet, min_col = 1, min_row = 2, 
                         max_col = 1, max_row = sheet.max_row)

In [17]:
chart.set_categories(dates)

In [18]:
chart.x_axis.tickLblSkip = 24

In [19]:
chart.width, chart.height

(15, 7.5)

In [20]:
chart.width = 25
chart.height = 12.5

In [21]:
sheet.add_chart(chart, "L5")

In [22]:
wb.save("oil_price_charts.xlsx")

In [23]:
chart = LineChart() 

chart.title = "Brent Crude Prices"
chart.x_axis.title = "Time"
chart.y_axis.title = "Price(US$)"

In [24]:
values = Reference(sheet, min_col = 2, min_row = 1, 
                          max_col = 2, max_row = sheet.max_row) 

chart.add_data(values, titles_from_data = True)

In [25]:
dates = Reference(sheet, min_col = 1, min_row = 2, 
                         max_col = 1, max_row = sheet.max_row)

chart.set_categories(dates)

In [26]:
chart.x_axis.tickLblSkip = 24

chart.width = 25
chart.height = 12.5

In [27]:
chart.style = 3

In [28]:
sheet.add_chart(chart, "E30")

In [29]:
wb.save("oil_price_charts.xlsx")

In [30]:
from openpyxl.chart import AreaChart

In [31]:
area_chart = AreaChart()

In [32]:
area_chart.title = "Brent Crude Prices"
area_chart.x_axis.title = "Time"
area_chart.y_axis.title = "Price(US$)"
area_chart.add_data(values, titles_from_data = True)
area_chart.set_categories(dates)

In [33]:
area_chart.x_axis.tickLblSkip = 24

In [34]:
area_chart.series

[<openpyxl.chart.series.Series object>
 Parameters:]

In [35]:
area_chart.series[0].graphicalProperties.solidFill = "ff9900"

In [36]:
sheet.add_chart(area_chart, "L30")

In [37]:
wb.save("oil_price_charts.xlsx")

In [38]:
##tech stocks
wb = openpyxl.load_workbook('tech_stocks.xlsx')
sheet = wb.active

In [39]:
multi_line_chart = LineChart()

multi_line_chart.title = "Facebook vs. Netflix"
multi_line_chart.x_axis.title = "Time (Sep-2018 to Sep-2019)"
multi_line_chart.y_axis.title = "Price(US$)"
values = Reference(sheet, min_col = 2, min_row = 1, 
                          max_col = 3, max_row = sheet.max_row)

In [40]:
multi_line_chart.add_data(values, titles_from_data = True)

In [41]:
dates = Reference(sheet, min_col = 1, min_row = 2, 
                         max_col = 1, max_row = sheet.max_row)

In [42]:
multi_line_chart.set_categories(dates)

multi_line_chart.x_axis.tickLblSkip = 40

In [43]:
len(multi_line_chart.series)

2

In [44]:
fb_series = multi_line_chart.series[0]
nflx_series = multi_line_chart.series[1]

In [45]:
fb_series.graphicalProperties.line.solidFill = 'FF0000'
fb_series.graphicalProperties.line.width = 2

In [46]:
nflx_series.graphicalProperties.line.dashStyle = 'sysDot'
nflx_series.graphicalProperties.line.solidFill = '0000FF'

In [47]:
multi_line_chart.width = 25
multi_line_chart.height = 12.5

In [48]:
sheet.add_chart(multi_line_chart, "E5")

In [49]:
wb.save("tech_stocks_charts.xlsx")

## Bar Charts

In [50]:
from openpyxl import Workbook
from openpyxl.chart import BarChart, Reference
work_book = Workbook()
sheet = work_book.active

In [51]:
revenues = [["Company", "2017", "2018"],
           ["Facebook", 40, 55.8],
           ["Apple", 229.32, 265],
           ["Netflix", 11.69, 15.79],
           ["Amazon", 177.86, 232.88]]

for revenue in revenues:
    sheet.append(revenue)

In [52]:
chart = BarChart()

In [53]:
chart.type = "col"

In [54]:
chart.title = "Bar Chart"

In [55]:
chart.x_axis.title = 'Company'
chart.y_axis.title = 'Revenue (B$)'

In [56]:
data = Reference(worksheet=sheet,
                 min_row=1,
                 max_row=sheet.max_row,
                 min_col=2,
                 max_col=3)

In [57]:
cats = Reference(worksheet=sheet, 
                 min_row=2, 
                 max_row=sheet.max_row, 
                 min_col=1,
                 max_col = 1)

In [58]:
chart.add_data(data, titles_from_data=True)

In [59]:
chart.set_categories(cats)

In [64]:
from copy import deepcopy #horizontal

In [65]:
hor_chart = deepcopy(chart)

In [66]:
hor_chart.type = "bar"

In [67]:
hor_chart.title = "Horizontal Bar Chart"
chart.y_axis.title = 'Revenue (B$)'
chart.x_axis.title = 'Company'
sheet.add_chart(hor_chart, "P3")

In [69]:
##stacked chart
stacked_chart = deepcopy(chart)
stacked_chart.type = "col"
stacked_chart.grouping = "stacked"
stacked_chart.overlap = 100
stacked_chart.title = 'Stacked Chart'

In [70]:
sheet.add_chart(stacked_chart, "F20")

In [71]:
from openpyxl.chart import BarChart3D  #3d

In [72]:
chart_3d = BarChart3D()

In [73]:
chart_3d.type = "col"

In [74]:
chart_3d.title = "3D Bar Chart"
chart_3d.y_axis.title = 'Revenue (B$)'
chart_3d.x_axis.title = 'Company'
chart_3d.add_data(data, titles_from_data=True)
chart_3d.set_categories(cats)

In [76]:
sheet.add_chart(chart_3d, "P20")

## Bubble Charts

In [77]:
import openpyxl

In [78]:
from openpyxl.chart import BubbleChart, Reference, Series

In [79]:
work_book = openpyxl.Workbook()
sheet = work_book.active 
rows = [ 
        ("Year", "Revenue('000 USD)", "Market Share"), 
        (2012, 2300, 7.5), 
        (2013, 3100, 7.9),
        (2014, 6540, 9.5),
        (2015, 12200, 12.1),
        (2016, 14890, 10.8), 
        (2017, 13020, 12.0),
        (2018, 13860, 15.3)
       ]

In [80]:
for row in rows: 
    sheet.append(row) 
chart = BubbleChart() 
sheet.max_row

8

In [81]:
x_values = Reference(sheet, min_col = 1, max_col = 1,
                            min_row = 2, max_row = sheet.max_row)

In [82]:
y_values = Reference(sheet, min_col = 2, max_col = 2,
                            min_row = 2, max_row = sheet.max_row)

In [83]:
sizes = Reference(sheet, min_col = 3, max_col = 4,
                         min_row = 2, max_row = sheet.max_row)

In [84]:
series = Series(values = y_values, 
                xvalues = x_values, 
                zvalues = sizes, 
                title ="Market Share")

In [85]:
chart.series.append(series)

In [86]:
chart.title = "Revenues and Market Share (2012-2018)"

In [87]:
chart.x_axis.title = "Year"

In [88]:
chart.y_axis.title = "Revenues(USD)"

In [89]:
chart.y_axis.number_format = '$#,##0K'

In [90]:
chart.width = 25
chart.height = 12.5

In [91]:
sheet.add_chart(chart, "F6") 
work_book.save("bubble_chart.xlsx")

## Classes & Instances

In [92]:
#build an empty class
class Student:
    pass
type(Student)

type

In [93]:
object_1 = Student()
object_2 = Student()

In [94]:
object_1

In [95]:
object_2

In [97]:
isinstance(object_1, Student)  #an instance belongs to a specific class

True

In [98]:
isinstance(object_2, Student)

True

In [99]:
isinstance(object_3, Student)

NameError: name 'object_3' is not defined

In [100]:
object_3 = {}

isinstance(object_3, Student)

False

In [101]:
object_1.name = 'Michel'

object_1.email = 'Michel@xyz.com'

In [102]:
object_1.name

'Michel'

In [103]:
object_1.email

'Michel@xyz.com'

In [104]:
object_1.school

AttributeError: 'Student' object has no attribute 'school'

In [105]:
object_2.name = 'Chad'
object_2.email = 'Chad@xyz.com'

In [106]:
object_2.name

'Chad'

In [107]:
object_2.email

'Chad@xyz.com'

In [108]:
object_2.school

AttributeError: 'Student' object has no attribute 'school'

In [109]:
object_3 = Student()
object_3.name

AttributeError: 'Student' object has no attribute 'name'

In [110]:
##new class student
class Student:
    name = ''
    score = 0
    active = True

In [111]:
s1 = Student()

In [112]:
s1.name, s1.score, s1.active

('', 0, True)

In [113]:
s1.name = 'John'
s1.score = 50
s1.name, s1.score, s1.active

('John', 50, True)

In [114]:
s2 = Student()

In [115]:
s2.name, s2.score, s2.active

('', 0, True)

In [116]:
s2.name = 'Lily'

In [117]:
s2.name, s2.score, s2.active

('Lily', 0, True)

In [118]:
s1.name, s1.score, s1.active

('John', 50, True)

In [119]:
s2.active = False
s2.name, s2.score, s2.active

('Lily', 0, False)

In [120]:
s1.name, s1.score, s1.active

('John', 50, True)

In [121]:
##using init
class Student:
    
    def __init__(self):
        
        print('Initialize called!')

In [122]:
s1 = Student()

Initialize called!

In [123]:
s2 = Student()
s3 = Student()

Initialize called!
Initialize called!

In [124]:
class Student:
    def __init__():
        print('Initialize called!')

In [125]:
s1 = Student()

TypeError: Student.__init__() takes 0 positional arguments but 1 was given

In [126]:
class Student:
    def __init__(boo):
        print('Initialize called!')

In [127]:
s1 = Student()

Initialize called!

In [128]:
class Student:
    def __init__(self, name):
        self.name = name
        self.mail = name + "." + "@xyz.com"

In [129]:
s1 = Student()

TypeError: Student.__init__() missing 1 required positional argument: 'name'

In [130]:
s1 = Student('Michel')
s1 = Student('Michel', 'Michel@xyz.com')

TypeError: Student.__init__() takes 2 positional arguments but 3 were given

In [131]:
print(s1)

<__main__.Student object at 0x0000018717590830>

In [133]:

s1.mail

'Michel.@xyz.com'

In [134]:
s2 = Student('Chad')

In [135]:
s2.name, s2.mail

('Chad', 'Chad.@xyz.com')

In [136]:
s1.name = 'Michael'
s1.name, s1.mail

('Michael', 'Michel.@xyz.com')

In [137]:
s2.name, s2.mail

('Chad', 'Chad.@xyz.com')

In [138]:
##anothe student class
class Student:
    def __init__(self, first, last):
        self.first = first
        self.last = last
        self.mail = first + "." + last + "@xyz.com"
    def fullname(self):
        return '{} {}'.format(self.first, self.last)

In [139]:
s1 = Student('Rodrigo', 'Joseph')

In [140]:
print(s1.fullname())

Rodrigo Joseph

In [141]:
s1.fullname

In [142]:
s2 = Student('Anthony', 'Hopkins')

In [143]:
print(s2.fullname())

Anthony Hopkins

In [144]:
s3 = Student('James', 'Reyes')

In [145]:
s3.first

'James'

In [146]:
del s3.first

In [147]:
print(s3.first)

AttributeError: 'Student' object has no attribute 'first'

In [148]:
print(s3.last)

Reyes

In [149]:
print(s3.fullname())

AttributeError: 'Student' object has no attribute 'first'

In [150]:
class Student:
    def __init__(self, first, last):
        self.first = first
        self.last = last
        self.mail = first + "." + last + "@xyz.com"
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def uppercase(self):
        self.first = self.first.upper()
        self.last = self.last.upper()

In [151]:
s1 = Student('Anthony', 'Hopkins')
s2 = Student('John', 'Smith')

In [152]:
s1.fullname()

'Anthony Hopkins'

In [153]:
s2.fullname()

'John Smith'

In [154]:
s1.uppercase()

In [155]:
s1.fullname()

'ANTHONY HOPKINS'

In [156]:
s2.fullname()

'John Smith'

## Class Variables

In [157]:
class Competition:
    # the class variable is le raise_amount
    raise_amount = 1.04
    def __init__(self, name, prize):

        self.name = name
        self.prize = prize
        
    def raise_prize(self):
        self.prize = self.prize * raise_amount

In [158]:
debate = Competition('Debate', 500)

print(debate.raise_amount)

1.04

In [159]:
Competition.raise_amount

1.04

In [160]:
debate.raise_prize()

NameError: name 'raise_amount' is not defined

In [161]:
class Competition:
    
    raise_amount = 1.04
    
    def __init__(self, name, prize):
        
        self.name = name 
        self.prize = prize 
        
    def raise_prize(self):

        self.prize = self.prize * Competition.raise_amount

In [162]:
essay = Competition('Essay', 500)

In [163]:
essay.prize

500

In [164]:
essay.raise_prize()

essay.prize

520.0

In [165]:
class Competition:
    
    raise_amount = 1.04
    
    def __init__(self, name, prize):
        self.name = name                                                  
        self.prize = prize                         

    def raise_prize(self): 
        self.prize = int( self.prize)  * self.raise_amount

In [166]:
simulation = Competition('Simulation', 100)
simulation.prize

100

In [167]:
simulation.raise_prize()
simulation.prize

104.0

In [168]:
Competition.raise_amount

1.04

In [169]:
simulation.raise_amount

1.04

In [170]:
simulation.__dict__

{'name': 'Simulation', 'prize': 104.0}

In [171]:
Competition.__dict__

mappingproxy({'__module__': '__main__',
              'raise_amount': 1.04,
              '__init__': <function __main__.Competition.__init__(self, name, prize)>,
              'raise_prize': <function __main__.Competition.raise_prize(self)>,
              '__dict__': <attribute '__dict__' of 'Competition' objects>,
              '__weakref__': <attribute '__weakref__' of 'Competition' objects>,
              '__doc__': None})

In [172]:
racing = Competition('Racing', 1000)
racing.raise_amount

1.04

In [173]:
Competition.raise_amount = 1.05
Competition.raise_amount #changed the raise amount

1.05

In [174]:
simulation.raise_amount = 10
Competition.raise_amount, simulation.raise_amount, racing.raise_amount

(1.05, 10, 1.05)

In [175]:
racing.raise_amount = 20

Competition.raise_amount, simulation.raise_amount, racing.raise_amount

(1.05, 10, 20)

In [176]:
Competition.__dict__

mappingproxy({'__module__': '__main__',
              'raise_amount': 1.05,
              '__init__': <function __main__.Competition.__init__(self, name, prize)>,
              'raise_prize': <function __main__.Competition.raise_prize(self)>,
              '__dict__': <attribute '__dict__' of 'Competition' objects>,
              '__weakref__': <attribute '__weakref__' of 'Competition' objects>,
              '__doc__': None})

In [177]:
simulation.__dict__

{'name': 'Simulation', 'prize': 104.0, 'raise_amount': 10}

In [178]:
racing.__dict__

{'name': 'Racing', 'prize': 1000, 'raise_amount': 20}

In [179]:
#class variables are shared among all instances but instance variables are unique for every instance of a class

In [180]:
class Competition:
    participants = []
    def __init__(self, name, prize):
        self.name = name
        self.prize = prize

In [181]:
debate = Competition('Debate', 500)
debate.participants

[]

In [182]:
Competition.participants.append('John')
Competition.participants

['John']

In [183]:
Competition.participants

['John']

In [184]:
debate.participants.append('Alice')
debate.participants
Competition.participants

['John', 'Alice']

In [185]:
essay = Competition('Essay', 456)
essay.participants

['John', 'Alice']

In [186]:
debate.participants.append('Lily')
debate.participants

['John', 'Alice', 'Lily']

In [187]:
essay.participants

['John', 'Alice', 'Lily']

In [188]:
Competition.__dict__

mappingproxy({'__module__': '__main__',
              'participants': ['John', 'Alice', 'Lily'],
              '__init__': <function __main__.Competition.__init__(self, name, prize)>,
              '__dict__': <attribute '__dict__' of 'Competition' objects>,
              '__weakref__': <attribute '__weakref__' of 'Competition' objects>,
              '__doc__': None})

In [189]:
debate.__dict__

{'name': 'Debate', 'prize': 500}

In [190]:
essay.__dict__

{'name': 'Essay', 'prize': 456}

In [191]:
class Competition:
    
    def __init__(self, name, prize):
        self.name = name
        self.prize = prize
        self.participants = []

In [192]:
debate = Competition('Debate', 500)
debate.participants

[]

In [193]:
Competition.participants

AttributeError: type object 'Competition' has no attribute 'participants'

In [194]:
debate.participants.append('Alice')
debate.participants

['Alice']

In [195]:
essay = Competition('Essay', 456)
essay.participants

[]

In [196]:
essay.participants.append('Michael')
essay.participants

['Michael']

In [197]:
debate.participants

['Alice']

In [198]:
debate.participants.append('Lily')
debate.participants

['Alice', 'Lily']

In [199]:
essay.participants

['Michael']

In [200]:
Competition.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.Competition.__init__(self, name, prize)>,
              '__dict__': <attribute '__dict__' of 'Competition' objects>,
              '__weakref__': <attribute '__weakref__' of 'Competition' objects>,
              '__doc__': None})

In [201]:
debate.__dict__

{'name': 'Debate', 'prize': 500, 'participants': ['Alice', 'Lily']}

In [202]:
essay.__dict__

{'name': 'Essay', 'prize': 456, 'participants': ['Michael']}

## Private Variables

In [203]:
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed
    def print_details(self):
        print('My name is %s and I am a %s' % (self.name, self.breed))

In [206]:
d1 = Dog('Jaeger', 'Corgi')
d1.print_details()

My name is Jaeger and I am a Corgi

In [207]:
d1.name = 'Nemo'
d1.print_details()

My name is Nemo and I am a Corgi

In [208]:
d1.breed = 'Golden Retriever'
d1.print_details()

My name is Nemo and I am a Golden Retriever

In [209]:
Dog.__dict__

mappingproxy({'__module__': '__main__',
              '__init__': <function __main__.Dog.__init__(self, name, breed)>,
              'print_details': <function __main__.Dog.print_details(self)>,
              '__dict__': <attribute '__dict__' of 'Dog' objects>,
              '__weakref__': <attribute '__weakref__' of 'Dog' objects>,
              '__doc__': None})

In [210]:
d1.__dict__

{'name': 'Nemo', 'breed': 'Golden Retriever'}

In [211]:
class Dog:
    def __init__(self, name, breed):
        self.__name = name
        self.__breed = breed
    def print_details(self):
        print('My name is %s and I am a %s' % (self.__name, self.__breed))

In [212]:
d1 = Dog('Moje', 'Golden Retriever')
d1.print_details()

My name is Moje and I am a Golden Retriever

In [213]:
d1.__dict__

{'_Dog__name': 'Moje', '_Dog__breed': 'Golden Retriever'}

In [214]:
d1.__name = "Oba"
d1.print_details()

My name is Moje and I am a Golden Retriever

In [215]:
d1.__dict__

{'_Dog__name': 'Moje', '_Dog__breed': 'Golden Retriever', '__name': 'Oba'}

In [216]:
d1._Dog__breed = 'Husky'
d1.print_details()

My name is Moje and I am a Husky

In [217]:
class Dog:
    def __init__(self, name, breed):
        self.__name = name
        self.__breed = breed
    
    def print_details(self):
        print('My name is %s and I am a %s' % (self.__name, self.__breed))
        
    def change_name(self, name):
        self.__name = name

In [218]:
d1 = Dog('Nemo', 'Husky')
d1.print_details()

My name is Nemo and I am a Husky

In [219]:
d1.change_name("Oba")
d1.print_details()

My name is Oba and I am a Husky

In [220]:
class Dog:
    __species = 'canine'
    def __init__(self, name, breed):
        self.__name = name
        self.__breed = breed
        self.__tricks = []
    def get_name(self):
        return self.__name
    def set_name(self, name):
        self.__name = name
    def get_breed(self):
        return self.__breed
    def set_breed(self, breed):
        self.__breed = breed
    def add_trick(self, trick):
        self.__tricks.append(trick)
    
    def print_details(self):
        print('My name is %s and I am a %s and I can do tricks! %s' % 
              (self.__name, self.__breed, self.__tricks))

In [221]:
d1 = Dog('Moje', 'Golden Retriever')

d1.print_details()

My name is Moje and I am a Golden Retriever and I can do tricks! []

In [222]:
d1.add_trick('roll over')
d1.print_details()

My name is Moje and I am a Golden Retriever and I can do tricks! ['roll over']

In [223]:
d1.set_breed('Labrador')
d1.print_details()

My name is Moje and I am a Labrador and I can do tricks! ['roll over']

In [224]:
class Dog:
    """ This is a class which defines a dog.
        This includes cute dogs as well as ferocious dogs.
    """
    
    __species = 'canine'
    
    def __init__(self, name, breed):
        self.__name = name
        self.__breed = breed
        self.__tricks = []
    
    def print_details(self):
        print('My name is %s and I am a %s' % (self.__name, self.__breed))
        print('Here are the tricks I can do: ', self.__tricks)

    def change_name(self, name):
        self.__name = name

    def change_breed(self, breed):
        self.__breed = breed

    def change_name_and_breed(self, name, breed):
        self.change_name(name)
        self.change_breed(breed)
        
    def add_trick(self, trick):
        self.__tricks.append(trick)

In [225]:
d1 = Dog('Moje', 'Golden Retriever')
d1.print_details()

My name is Moje and I am a Golden Retriever
Here are the tricks I can do:  []

In [226]:
d1.change_name_and_breed('Oba', 'Labrador')
d1.print_details()

My name is Oba and I am a Labrador
Here are the tricks I can do:  []

## Subclasses & Inheritance

In [228]:
class Shape:
    pass
class Shape():
    pass
class Shape(object):
    pass
class Shape:
    def __init__(self, shape_type):
        self.__type = shape_type
    
    def get_type(self):
        return self.__type

In [229]:
circle = Shape('circle')

type(circle)

__main__.Shape

In [230]:
circle.get_type()

'circle'

In [231]:
square = Shape('square')
type(square)

__main__.Shape

In [232]:
square.get_type()

'square'

In [233]:
class Shape:
    def __init__(self, shape_type, color='Red'):
        self.__type = shape_type
        self.__color = color
    def get_type(self):
        return self.__type
    def get_color(self):
        return self.__color

In [234]:
circle = Shape('circle')
circle.get_color()

'Red'

In [235]:
square = Shape('square', color='Blue')
square.get_color()

'Blue'

In [236]:
class Shape:
    def __init__(self, shape_type, color='Red'):
        self.__type = shape_type
        self.__color = color
    def get_type(self):
        return self.__type
    def get_color(self):
        return self.__color
    def get_area(self):
        pass
    def get_perimeter(self):
        pass

In [237]:
s = Shape('circle')

In [238]:
s.get_area()

In [239]:
s.get_perimeter()

In [240]:
class Circle(Shape):
    pass

In [241]:
circle = Circle()

TypeError: Shape.__init__() missing 1 required positional argument: 'shape_type'

In [242]:
circle = Circle('circle')
type(circle)

__main__.Circle

In [243]:
class Square(Shape):
    pass
square = Square('square')

type(square)

__main__.Square

In [244]:
class Circle(Shape):
    
    def __init__(self):
        Shape.__init__(self, 'circle')

In [245]:
class Square(Shape):
    
    def __init__(self):
        Shape.__init__(self, 'square')

In [246]:
circle = Circle()
square = Square()

In [247]:
type(circle), type(square)

(__main__.Circle, __main__.Square)

In [248]:
circle.get_type(), square.get_type()

('circle', 'square')

In [249]:
circle.get_color(), square.get_color()

('Red', 'Red')

In [250]:
class Circle(Shape):
    def __init__(self, color='Green'):
        Shape.__init__(self, 'circle', color)

In [251]:
circle = Circle()
circle.get_color()

'Green'

In [252]:
circle = Circle('Yellow')
circle.get_color()

'Yellow'

In [253]:
class Square(Shape):
    def __init__(self, color):
        Shape.__init__(self, 'square', color)

In [254]:
square = Square()

TypeError: Square.__init__() missing 1 required positional argument: 'color'

In [255]:
square = Square('Orange')
square.get_color()

'Orange'

In [256]:
import math

class Circle(Shape):
    def __init__(self, radius):
        Shape.__init__(self, 'circle')
        
        self.__radius = radius
        
    def get_area(self):
        return math.pi * self.__radius * self.__radius
    
    def get_perimeter(self):
        return 2 * math.pi * self.__radius

In [257]:
c = Circle(10)
c.get_area()

314.1592653589793

In [258]:
c.get_perimeter()

62.83185307179586

In [259]:
class Square(Shape):
    
    def __init__(self, side):
        Shape.__init__(self, 'square')
        
        self.__side = side
        
    def get_area(self):
        return self.__side * self.__side
    
    def get_perimeter(self):
        return 4 * self.__side

In [260]:
s = Square(10)

In [261]:
s.get_area()

100

In [262]:
s.get_perimeter()

40

## Multiple & Multilevel Inheritance

In [263]:
class Father:
    pass
class Mother:
    pass

In [264]:
class Child1(Father, Mother):
    pass

In [265]:
help(Child1)

Help on class Child1 in module __main__:

class Child1(Father, Mother)
 |  Method resolution order:
 |      Child1
 |      Father
 |      Mother
 |      builtins.object
 |
 |  Data descriptors inherited from Father:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [266]:
class Child2(Mother, Father):
    pass

In [267]:
help(Child2)

Help on class Child2 in module __main__:

class Child2(Mother, Father)
 |  Method resolution order:
 |      Child2
 |      Mother
 |      Father
 |      builtins.object
 |
 |  Data descriptors inherited from Mother:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [268]:
class Father:
    
    def height(self):
        print('I have inherited my height from my father')

class Mother:

    def intelligence(self):
        print('I have inherited my intelligence from my mother')

In [269]:
class Child(Father, Mother):
    
    def experience(self):
        print('My experiences are all my own')

In [270]:
c = Child()

In [271]:
c.height()

I have inherited my height from my father

In [272]:
c.intelligence()

I have inherited my intelligence from my mother

In [273]:
c.experience()

My experiences are all my own

In [274]:
class Employee:  
    def __init__(self, name, age):  
        self.__name = name  
        self.__age = age  

    def show_name(self):  
        print(self.__name)  
  
    def show_age(self):  
        print(self.__age)

In [275]:
class Salary: 
    def __init__(self, salary):  
        self.__salary = salary  
    def get_salary(self):  
        print(self.__salary)

In [276]:
class Database(Employee, Salary):  
    def __init__(self, name, age, salary):  
        Employee.__init__(self, name, age)  
        Salary.__init__(self, salary)

In [277]:
emp1 = Database('Robin', 26, 98000)

In [278]:
emp1.show_name()

Robin

In [279]:
emp1.show_age()

26

In [280]:
emp1.get_salary()

98000

In [281]:
help(Database)

Help on class Database in module __main__:

class Database(Employee, Salary)
 |  Database(name, age, salary)
 |
 |  Method resolution order:
 |      Database
 |      Employee
 |      Salary
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, salary)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from Employee:
 |
 |  show_age(self)
 |
 |  show_name(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Employee:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from Salary:
 |
 |  get_salary(self)

In [282]:
##multi level inheritance
class Grandparent:
    def height(self):
        print('I have inherited my height from my grandparent')

    
class Parent(Grandparent):
    def intelligence(self):
        print('I have inherited my intelligence from my parent')

class Child(Parent):
    def experience(self):
        print('My experiences are all my own')

In [283]:
help(Child)

Help on class Child in module __main__:

class Child(Parent)
 |  Method resolution order:
 |      Child
 |      Parent
 |      Grandparent
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  experience(self)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from Parent:
 |
 |  intelligence(self)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from Grandparent:
 |
 |  height(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Grandparent:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [284]:
c = Child()

In [285]:
c.height()

I have inherited my height from my grandparent

In [286]:
c.intelligence()

I have inherited my intelligence from my parent

In [287]:
c.experience()

My experiences are all my own

In [288]:
class Grandparent(object):    
    def __init__(self, city): 
        self.__city = city
    def get_city(self): 
        return self.__city

In [289]:
class Parent(Grandparent): 
    def __init__(self, city, lastname): 
        Grandparent.__init__(self, city)  
        self.__lastname = lastname
    def get_lastname(self): 
        return self.__lastname

In [290]:
p1 = Parent(city='Kentucky', lastname='Smith')

In [291]:
p1.get_city()

'Kentucky'

In [292]:
p1.get_lastname()

'Smith'

In [293]:
class Person(Parent): 
    def __init__(self, city, lastname, firstname): 
        Parent.__init__(self, city, lastname)
        self.__firstname = firstname
    def get_firstname(self): 
        return self.__firstname

In [294]:
person = Person("Kentucky", "Smith", "Mark")

In [295]:
person.get_city(), person.get_lastname(), person.get_firstname()

('Kentucky', 'Smith', 'Mark')

In [296]:
help(Person)

Help on class Person in module __main__:

class Person(Parent)
 |  Person(city, lastname, firstname)
 |
 |  Method resolution order:
 |      Person
 |      Parent
 |      Grandparent
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, city, lastname, firstname)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  get_firstname(self)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from Parent:
 |
 |  get_lastname(self)
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from Grandparent:
 |
 |  get_city(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from Grandparent:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [297]:
class Person(Parent): 
    def __init__(self, city, lastname, firstname): 
        Parent.__init__(self, city, lastname)
        
        self.__firstname = firstname
  
    def get_firstname(self): 
        return self.__firstname
    
    def get_introduction(self):
        lastname = super().get_lastname()
        city = super().get_city()
        
        print('Hi I am %s %s from %s' % (self.__firstname, lastname, city))
    def get_information(self):
        lastname = self.get_lastname()
        city = self.get_city()
        print('Hi I am %s %s from %s' % (self.__firstname, lastname, city))

In [298]:
p = Person('Kentucky', 'Jones', 'Lily')

In [299]:
p.get_introduction()

Hi I am Lily Jones from Kentucky

In [300]:
p.get_information()

Hi I am Lily Jones from Kentucky

## Polymorphism

In [301]:
class Hominidae():
    def communication(self):
        print("They use auditory calls and visual cues.")
    def walk(self):
        print("They are knuckle-walkers, used to hang and swing from one tree to another")

In [302]:
class Human(Hominidae):

    def communication(self):
        print("They use language to communicate.")
        
    def walk(self):
        print("They are bipeds.")

In [303]:
class Gorrila(Hominidae):

    def communication(self):
        print("They use twenty-five distinct vocalizations to communicate.")
        
    def walk(self):
        print("They are knuckle-walkers.")

In [304]:
hominidae_1 = Hominidae()

human_1 = Human()

gorrila_1 = Gorrila()

In [305]:
hominidae_1.communication()

human_1.communication()

gorrila_1.communication()

They use auditory calls and visual cues.
They use language to communicate.
They use twenty-five distinct vocalizations to communicate.

In [306]:
hominidae_1.walk()

human_1.walk()

gorrila_1.walk()

They are knuckle-walkers, used to hang and swing from one tree to another
They are bipeds.
They are knuckle-walkers.

In [307]:
class BankAccount:
    
    def __init__(self, balance):
        self.__balance = balance
        
    def deposit(self, value):
        self.__balance =  self.__balance + value
        
        print('Deposit amount:', value)
        print('Balance after depositing:', self.__balance)
            
    def withdrawal(self, value):
        self.__balance =  self.__balance - value
        
        print('Withdrawal amount:', value)
        print('Balance after withdrawal:', self.__balance)

In [308]:
b_1 = BankAccount(1500)

In [309]:
b_1.deposit(100)

Deposit amount: 100
Balance after depositing: 1600

In [310]:
b_1.withdrawal(200)

Withdrawal amount: 200
Balance after withdrawal: 1400

In [311]:
class CurrentAccount(BankAccount):
    
    def __init__(self, balance):
        super().__init__(balance)
                  
    def withdrawal(self, value):
        if value > 1000:
            print('Contact your branch manager')
        else:
            super().withdrawal(value)

In [312]:
c_1 = CurrentAccount(1500)

In [313]:
c_1.withdrawal(100)

Withdrawal amount: 100
Balance after withdrawal: 1400

In [314]:
c_1.withdrawal(1400)

Contact your branch manager

In [315]:
class SavingsAccount(BankAccount):
    def __init__(self, balance):
        super().__init__(balance)
    def deposit(self, value):
        value += 0.05 * value
        super().deposit(value)

In [316]:
s_1 = SavingsAccount(2000)

In [317]:
s_1.deposit(500)

Deposit amount: 525.0
Balance after depositing: 2525.0

## Special/Magic Methods

In [318]:
class Competition:
    def __init__(self, name, prize): 
        self.__name = name 
        self.__prize = prize

In [319]:
rowing = Competition('Rowing', 10000)

In [320]:
print(rowing)

<__main__.Competition object at 0x00000187177722D0>

In [321]:
rowing

In [322]:
class Competition:  
    def __init__(self, name, prize): 
        self.__name = name    
        self.__prize = prize
    def __repr__(self):
        return "('{}',  {})".format(self.__name, self.__prize)

In [323]:
archery = Competition('Archery', 8000)

In [324]:
print(archery)

('Archery',  8000)

In [325]:
repr(archery)

"('Archery',  8000)"

In [326]:
str(archery)

"('Archery',  8000)"

In [327]:
class Competition:
        
    def __init__(self, name, country, prize):
        self.__name = name 
        self.__country = country 
        self.__prize = prize 
                                                                       
    def get_name_country(self): 
        return '{} {}'.format(self.__name, self.__country)
        
    def __repr__(self):
        return "Competition: {} held in {}, prize: {}" \
            .format(self.__name, self.__country, self.__prize)
   
    def __str__(self):
        return '{} - {}'.format(self.get_name_country(), self.__prize)

In [328]:
archery = Competition('Archery', 'United Kingdom', 7500)

In [329]:
archery

Competition: Archery held in United Kingdom, prize: 7500

In [330]:
print(archery)

Archery United Kingdom - 7500

In [331]:
print(repr(archery))

Competition: Archery held in United Kingdom, prize: 7500

In [332]:
print(str(archery))

Archery United Kingdom - 7500

In [333]:
print(archery.__repr__())

Competition: Archery held in United Kingdom, prize: 7500

In [334]:
print(archery.__str__())

Archery United Kingdom - 7500

In [335]:
int.__add__(1, 2)

3

In [336]:
'a' + 'b'

'ab'

In [337]:
str.__add__('a', 'b')

'ab'

In [338]:
class Savings:
    def __init__(self, amount): 
        self.__amount = amount

In [339]:
s1 = Savings(10000)
s2 = Savings(2000)

In [340]:
s1 + s2

TypeError: unsupported operand type(s) for +: 'Savings' and 'Savings'

In [345]:
class Savings:
    def __init__(self, amount): 
        self.__amount = amount                          
    def __add__(self, other):
        return self.__amount + other.__amount

In [346]:
s1 = Savings(10000)
s2 = Savings(2000)

In [347]:
s1 + s2

12000

In [348]:
class MethodSub:  #subtraction
    def __init__(self,  number):
        self.__number = number
                                             
    def __sub__(self, other):
        return self.__number - other.__number

In [349]:
num_1 = MethodSub(10)
num_2 = MethodSub(8)

In [350]:
num_1 - num_2

2

In [351]:
class MethodSub:
    def __init__(self,  number):
        self.__number = number
                                             
    def __sub__(self, other):
        return self.__number * other.__number

In [352]:
num_1 = MethodSub(10)
num_2 = MethodSub(8)

In [353]:
num_1 - num_2

80

In [354]:
num_1 * num_2

TypeError: unsupported operand type(s) for *: 'MethodSub' and 'MethodSub'

In [355]:
1.0 * 2.1

2.1

In [356]:
float.__mul__(1.0, 2.1)

2.1

In [357]:
float.__mul__(1, 2.1)

TypeError: descriptor '__mul__' requires a 'float' object but received a 'int'

In [358]:
class Savings:
    def __init__(self, amount): 
        self.__amount = amount                          
    def __add__(self, other):
        return self.__amount + other.__amount
    def __mul__(self, other):
        if type(other) == int or type(other) == float:
            return self.__amount * other
        else: 
            raise ValueError('Can only multiply by int or float')

In [359]:
s1 = Savings(1000)
s2 = Savings(200)

In [360]:
s1 + s2

1200

In [361]:
s1 * s2

ValueError: Can only multiply by int or float

In [362]:
s1 * 3

3000

In [363]:
10 // 3

3

In [364]:
class MethodFloordiv:
    def __init__(self,  number): 
        self.__number = number
                                                    
    def __floordiv__(self, other):
        return self.__number // other.__number

In [365]:
num_1 = MethodFloordiv(10)
num_2 = MethodFloordiv(3)

In [366]:
num_1 // num_2

3

In [367]:
5 % 2

1

In [368]:
int.__mod__(5, 2)

1

In [369]:
class MethodMod:
        
    def __init__(self,  number): 
        self.__number = number                                          
        
    def __mod__(self, other): 
        return self.__number % other.__number

In [370]:
num_1 = MethodMod(10)
num_2 = MethodMod(3)

In [371]:
num_1 % num_2

1

In [372]:
6**2

36

In [373]:
int.__pow__(6, 2)

36

In [374]:
class MethodPower:
        
    def __init__(self,  number):
        self.number = number                                          
        
    def __pow__(self, other): 
        return self.number**other.number

In [375]:
num_1 = MethodPower(10)
num_2 = MethodPower(3)

In [376]:
num_1**num_2

1000

In [377]:
len('test-me')

7

In [378]:
str.__len__('test-me')

7

In [379]:
some_list = [1, 4, 5, 7, 2, 3, 5]
len(some_list)

7

In [380]:
class Participants:
       
    def __init__(self):
        self.__participants = []                            
                                    
    def add_participant(self, name):
        self.__participants.append(name)

    def __len__(self):
        return len(self.__participants)

In [381]:
p = Participants()

In [382]:
len(p)

0

In [383]:
p.add_participant('James')

In [384]:
len(p)

1

In [385]:
p.add_participant('Emily')

In [386]:
len(p)

2

In [387]:
list.__dict__

mappingproxy({'__new__': <function list.__new__(*args, **kwargs)>,
              '__repr__': <slot wrapper '__repr__' of 'list' objects>,
              '__hash__': None,
              '__getattribute__': <slot wrapper '__getattribute__' of 'list' objects>,
              '__lt__': <slot wrapper '__lt__' of 'list' objects>,
              '__le__': <slot wrapper '__le__' of 'list' objects>,
              '__eq__': <slot wrapper '__eq__' of 'list' objects>,
              '__ne__': <slot wrapper '__ne__' of 'list' objects>,
              '__gt__': <slot wrapper '__gt__' of 'list' objects>,
              '__ge__': <slot wrapper '__ge__' of 'list' objects>,
              '__iter__': <slot wrapper '__iter__' of 'list' objects>,
              '__init__': <slot wrapper '__init__' of 'list' objects>,
              '__len__': <slot wrapper '__len__' of 'list' objects>,
              '__getitem__': <method '__getitem__' of 'list' objects>,
              '__setitem__': <slot wrapper '__setitem__' of 'list' objects>,
              '__delitem__': <slot wrapper '__delitem__' of 'list' objects>,
              '__add__': <slot wrapper '__add__' of 'list' objects>,
              '__mul__': <slot wrapper '__mul__' of 'list' objects>,
              '__rmul__': <slot wrapper '__rmul__' of 'list' objects>,
              '__contains__': <slot wrapper '__contains__' of 'list' objects>,
              '__iadd__': <slot wrapper '__iadd__' of 'list' objects>,
              '__imul__': <slot wrapper '__imul__' of 'list' objects>,
              '__reversed__': <method '__reversed__' of 'list' objects>,
              '__sizeof__': <method '__sizeof__' of 'list' objects>,
              'clear': <method 'clear' of 'list' objects>,
              'copy': <method 'copy' of 'list' objects>,
              'append': <method 'append' of 'list' objects>,
              'insert': <method 'insert' of 'list' objects>,
              'extend': <method 'extend' of 'list' objects>,
              'pop': <method 'pop' of 'list' objects>,
              'remove': <method 'remove' of 'list' objects>,
              'index': <method 'index' of 'list' objects>,
              'count': <method 'count' of 'list' objects>,
              'reverse': <method 'reverse' of 'list' objects>,
              'sort': <method 'sort' of 'list' objects>,
              '__class_getitem__': <method '__class_getitem__' of 'list' objects>,
              '__doc__': 'Built-in mutable sequence.\n\nIf no argument is given, the constructor creates a new empty list.\nThe argument must be an iterable if specified.'})

In [388]:
some_list = [1, 4, 5, 7, 2, 3, 5]

In [389]:
for num in some_list:
    print(num)

1
4
5
7
2
3
5

In [390]:
class Participants:
    def __init__(self):
        self.__participants = []
        self.__index = 0
                                    
    def add_participant(self, name):
        self.__participants.append(name)

    def __len__(self):
        return len(self.__participants)

    def __iter__(self):
        self.__index = 0
        return self
    
    def __next__(self):
        if self.__index == len(self.__participants):
            raise StopIteration
        
        p = self.__participants[self.__index]
        
        self.__index += 1
        
        return p

In [391]:
participants = Participants()
participants.add_participant('Lily')
participants.add_participant('James')
participants.add_participant('Harry')
participants.add_participant('Ron')
participants.add_participant('Hermione')

In [392]:
for p in participants:
    print(p)

Lily
James
Harry
Ron
Hermione

In [393]:
participants.add_participant('Ginny')

In [394]:
for p in participants:
    print(p)

Lily
James
Harry
Ron
Hermione
Ginny

In [395]:
iter(participants)

In [396]:
next(participants)

'Lily'

In [397]:
next(participants)

'James'

In [398]:
next(participants)

'Harry'

## Getters & Setters

In [399]:
class Wrestler: 
    def __init__(self): 
         self.__name = '' 

    def set_name(self, name):
        self.__name = name

    def get_name(self): 
        return self.__name

In [400]:
w1 = Wrestler()
w1.set_name('Steve')
w1.get_name()

'Steve'

In [401]:
w1.name

AttributeError: 'Wrestler' object has no attribute 'name'

In [402]:
w1.__name

AttributeError: 'Wrestler' object has no attribute '__name'

In [403]:
w1.__dict__

{'_Wrestler__name': 'Steve'}

In [404]:
w1._Wrestler__name

'Steve'

In [405]:
class Wrestler:
    
    def __init__(self):
        self.__name = ''    
    
    def set_name(self, name):
        print('setter method called')
        self.__name = name    
        
    def get_name(self):
        print('getter method called')
        return self.__name
    
    name = property(get_name, set_name)

In [406]:
w = Wrestler()

In [407]:
w.name = 'Kart'

setter method called

In [408]:
w.name

getter method called

'Kart'

In [409]:
class Wrestler:
    
    def __init__(self):
        self.__name = ''     
    
    def set_name(self, name):
        print('setter method called')
        self.__name = name
             
    def get_name(self):
        print('getter method called')
        return self.__name
    
    def del_name(self):
        print('deleter method called')
        
        del self.__name
           
    name = property(get_name, set_name, del_name)

In [410]:
w = Wrestler()

In [411]:
w.name = 'Kane'

setter method called

In [412]:
w.name

getter method called

'Kane'

In [413]:
del w.name

deleter method called

In [414]:
w.name

getter method called

AttributeError: 'Wrestler' object has no attribute '_Wrestler__name'

In [415]:
class Wrestler:  #getter,setter,deleter with property decorator
    def __init__(self, name):
        self.__name = name
        
    @property
    def name(self):
        print('getter method called')
        return self.__name 

    @name.setter
    def name(self, value):
        print('setter method called')
        self.__name = value
        
    @name.deleter
    def name(self):
        print('deleter method called')
        del self.__name

In [416]:
w = Wrestler('Adam')

In [417]:
w.name

getter method called

'Adam'

In [418]:
w.name = 'John'

setter method called

In [419]:
del w.name

deleter method called

In [420]:
w.name

getter method called

AttributeError: 'Wrestler' object has no attribute '_Wrestler__name'

In [421]:
class Wrestler:
    
    def __init__(self, name, age):
        self.__name = name
        self.__age = age
        
    @property
    def name(self):
        print('name getter method called')
        return self.__name 

    @name.setter
    def name(self, value):
        print('name setter method called')
        self.__name = value
        
    @name.deleter
    def name(self):
        print('name deleter method called')
        del self.__name
        
    @property
    def age(self):
        print('age getter method called')
        return self.__age

    @age.setter
    def age(self, value):
        print('age setter method called')
        self.__age = value
        
    @age.deleter
    def age(self):
        print('age deleter method called')
        del self.__age

In [422]:
w = Wrestler('Mark', 25)
w.name

name getter method called

'Mark'

In [423]:
w.name = 'Joe'

name setter method called

In [424]:
del w.name

name deleter method called

In [425]:
w.age

age getter method called

25

In [426]:
w.age = 26

age setter method called

In [427]:
del w.age

age deleter method called

## Static Methods

In [428]:
class Competition:
    
    __raise_amount = 1.04
    
    def __init__(self, name, prize):
        self.__name  = name  
        self.__prize = prize   

    def raise_prize(self):
        self.__prize = self.__prize  * self.__raise_amount
    
    def print_details(self):
        print("Name: {}, prize: {}".format(self.__name, self.__prize))

    @classmethod 
    def get_raise_amount(cls):
        return cls.__raise_amount
    
    @classmethod 
    def set_raise_amount(cls, amount):
         cls.__raise_amount = amount

In [429]:
sprint = Competition('Sprint', 10000)

In [430]:
Competition.get_raise_amount()
sprint.get_raise_amount()

1.04

In [431]:
sprint.set_raise_amount(1.06)

In [432]:
sprint.get_raise_amount()

1.06

In [433]:
Competition.get_raise_amount()

1.06

In [434]:
swimming_str = 'Swimming-8000'

In [435]:
name, prize = swimming_str.split('-')

In [436]:
swimming = Competition(name, prize)

In [437]:
swimming.print_details()

Name: Swimming, prize: 8000

In [438]:
class Competition:
    
    __raise_amount = 1.04
    
    def __init__(self, name, prize):
        self.__name  = name  
        self.__prize = prize   

    def raise_prize(self):
        self.__prize = self.__prize  * self.__raise_amount
    
    def print_details(self):
        print("Name: {}, prize: {}".format(self.__name, self.__prize))

    @classmethod 
    def get_raise_amount(cls):
        return cls.__raise_amount
    
    @classmethod 
    def set_raise_amount(cls, amount):
         cls.__raise_amount = amount
                                                                             
    @classmethod
    def from_str(cls, competition_str):
        name, prize = competition_str.split('-')
        
        return cls(name, prize)

In [439]:
archery_str = 'Archery-8000'

In [440]:
archery = Competition.from_str(archery_str)

In [441]:
archery.print_details()

Name: Archery, prize: 8000

In [442]:
##creating static methods
class Rectangle:

    def area(x, y):
        return x * y
Rectangle.area = staticmethod(Rectangle.area)
print('area of the rectangle is :', Rectangle.area(15, 16))

area of the rectangle is : 240

In [443]:
class Rectangle:
    @staticmethod
    def area(x, y):
        return x * y

In [444]:
print('area of the rectangle is :', Rectangle.area(15, 16))

area of the rectangle is : 240

## Abstract Base Class

In [445]:
from abc import ABC, abstractmethod
class Hominidae():
    def diet(self):
        pass
    
    def walk(self):
        pass
        
    def behavior(self):
        print("They show complex facial expression and social behaviour.")

In [446]:
chimpanzee = Hominidae()
chimpanzee.behavior()

They show complex facial expression and social behaviour.

In [447]:
chimpanzee.diet()
chimpanzee.walk()

In [448]:
class Human(Hominidae):  #child class
    def diet(self):
        print("Humans are omnivorous.")
        
    def walk(self):
        print("They are bipeds.")

In [449]:
paul = Human()
paul.diet()
paul.walk()

Humans are omnivorous.
They are bipeds.

In [450]:
class Hominidae(ABC):
    def diet(self):
        pass
    def walk(self):
        pass
    def behavior(self):
        print("They show complex facial expression and social behaviour.")

In [451]:
chimpanzee = Hominidae()
chimpanzee.behavior()

They show complex facial expression and social behaviour.

In [452]:
class Human(Hominidae):
    def diet(self):
        print("Humans are omnivorous.")
    def walk(self):
        print("They are bipeds.")

In [453]:
myra = Human()
myra.diet()
myra.walk()

Humans are omnivorous.
They are bipeds.

In [454]:
help(ABC)

Help on class ABC in module abc:

class ABC(builtins.object)
 |  Helper class that provides a standard way to create an ABC using
 |  inheritance.
 |
 |  Data and other attributes defined here:
 |
 |  __abstractmethods__ = frozenset()

In [455]:
class Hominidae(ABC):
    @abstractmethod
    def diet(self):
        pass
    
    def walk(self):
        pass
      
    def behavior(self):
        print("They show complex facial expression and social behaviour.")

In [456]:
great_apes = Hominidae()

TypeError: Can't instantiate abstract class Hominidae without an implementation for abstract method 'diet'

In [457]:
class Human(Hominidae):

    def diet(self):
        print("Humans are omnivorous.")
        
    def walk(self):
        print("They are bipeds.")

In [458]:
bill = Human()
bill.diet()
bill.walk()

Humans are omnivorous.
They are bipeds.

In [459]:
class Hominidae(ABC):
    @abstractmethod
    def diet(self):
        pass
    
    @abstractmethod    
    def walk(self):
        pass

In [460]:
class Human(Hominidae):
    def diet(self):
        print("Humans are omnivorous.")

In [461]:
cathy = Human()

TypeError: Can't instantiate abstract class Human without an implementation for abstract method 'walk'

In [462]:
class Human(Hominidae):
    def diet(self):
        print("Humans are omnivorous.")
    def walk(self):
        print("They are bipeds.")

In [463]:
cathy = Human()
cathy.diet()
cathy.walk()

Humans are omnivorous.
They are bipeds.