## Calculator Python

In [18]:
!python --version

Python 3.12.6

In [3]:
10 * 5.5

55.0

In [4]:
2 * 3 * 1 + 2 + 5

13

In [5]:
9 * (2 * 7 + 8)

198

In [6]:
11 ** 2

121

In [8]:
10 / 5

2.0

In [9]:
11 // 4

2

In [10]:
10.8 // 3

3.0

In [11]:
10.22 // 5

2.0

In [12]:
50 % 4

2

In [14]:
(40.5 + 5 * (8.90 - 7.2222) /9)

41.43211111111111

In [15]:
"Hello " * 3

'Hello Hello Hello '

## Built in Functions

In [16]:
"Hi World"

'Hi World'

In [17]:
print("Hi World") #invoking print function

Hi World

In [19]:
print('Hello universe')

Hello universe

In [20]:
print(Hello galaxy)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2858105286.py, line 1)

In [22]:
print "Hello Python 2"

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2812540051.py, line 1)

In [23]:
len("Hello planet")

12

In [24]:
print(8+9)

17

In [25]:
abs(-19)

19

In [26]:
abs(19)

19

In [27]:
print(abs(8*2-342.21//(5+6)))

15.0

In [28]:
type(9)

int

In [29]:
type(abs(9))

int

In [30]:
type(abs(9//3))

int

In [31]:
type(abs(4/3))

float

In [32]:
type("Text")

str

In [33]:
round(18.83)

19

In [34]:
round(-22.11345)

-22

In [35]:
max(1,23,455,-11)

455

In [36]:
min(0,-122,34.4)

-122

## Variables

In [37]:
2400

2400

In [38]:
3300-1122

2178

In [39]:
123-1111111

-1110988

In [40]:
salary = 65000

In [41]:
house_rent = 0

In [42]:
food_exp = 10000
house_rent

0

In [43]:
food_exp

10000

In [46]:
total_exp = house_rent + food_exp

In [47]:
total_exp

10000

In [48]:
savings = salary - total_exp
savings

55000

In [49]:
course_fee = 300

In [50]:
num_of_months = 6

In [51]:
total_fee = course_fee*num_of_months
print(total_fee)

1800

In [52]:
num_1 = 2
num_2 = 2

In [53]:
print(num_1+num_2)

4

In [54]:
total_num = num_1+num_2

In [55]:
num_2 = "2"

In [56]:
total_num = num_1+num_2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
total_num

4

## Types of Variables

In [58]:
x = True
y = False

In [59]:
print ("x and y is",x and y)

x and y is False

In [64]:
print ("x and y is",x,"for x and",y,"for y")

x and y is True for x and False for y

In [65]:
print (not x)

False

In [66]:
x = 'xo'

In [69]:
print("A fan is",x)

A fan is xo

In [70]:
x4 = x*4
print(x4)

xoxoxoxo

In [71]:
len(x4)

8

## Assign Values to Variables

In [75]:
x = y = z = "Python version 3"

In [76]:
b = x+y
b

'Python version 3Python version 3'

In [77]:
x = y == z

In [78]:
print(x)

True

In [79]:
a,b,c = 5,2,"The letter c"

In [80]:
color_a = "Red"
color_b = "Blue"

In [81]:
color_c = color_a

In [82]:
print(color_a,color_b,color_c)

Red Blue Red

## Update Variables

In [83]:
n1 = 432.22
n2 = 34.22
n3 = 100

In [84]:
s1,s2 = "Hello","galaxy"

In [85]:
total_n = n1+n2+n3
total_n

566.44

In [86]:
n1 = n1 + 1
n1

433.22

In [87]:
n2 = n2 + 10
n2

44.22

In [88]:
n3 = n3 - 555
n3

-455

In [89]:
n1 += n1 +2

In [90]:
n1

868.44

In [91]:
n2 += 10

In [92]:
n2

54.22

In [93]:
n3*=90

In [94]:
n3

-40950

In [95]:
n3/=223
n3

-183.6322869955157

In [97]:
concat_string = (s1+s2) * 4
concat_string

'HellogalaxyHellogalaxyHellogalaxyHellogalaxy'

In [98]:
new_s1 = s1
new_s1

'Hello'

In [99]:
s1 = "Bye"

In [100]:
new_s1

'Hello'

In [101]:
new_s1 += s1
new_s1

'HelloBye'

In [102]:
some_n = n3
some_n

-183.6322869955157

In [104]:
n3 *=(-555)
n3

101915.91928251121

In [105]:
n3

101915.91928251121

## Simple Data Types

In [106]:
type(233)

int

In [107]:
type(23.6)

float

In [108]:
x = 25
print("Data type of",x,"is",type(25))

Data type of 25 is <class 'int'>

In [109]:
z = 5j
type(z)

complex

In [110]:
print(5j*5j)

(-25+0j)

In [112]:
print(0b111)

7

In [113]:
type(0b101)

int

## Strings

In [114]:
print("python "+"is "+"awesome")

python is awesome

In [115]:
print("python"-3)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [116]:
print("python"*8)

pythonpythonpythonpythonpythonpythonpythonpython

In [117]:
answer = input()

 Hello galaxy

In [118]:
print('I'm learning python')

SyntaxError: unterminated string literal (detected at line 1) (323132246.py, line 1)

In [119]:
print("I'm learning python")

I'm learning python

In [120]:
print('John said "Hello there"')

John said "Hello there"

In [121]:
print('I\'m learning Python')

I'm learning Python

In [122]:
print("Hello there\n how are you")

Hello there
 how are you

In [123]:
print("""I'm triple""")

I'm triple

In [125]:
print("""We use triple quotes for very long strings

over here
right there
""")

We use triple quotes for very long strings

over here
right there

## Formatting Operations with Strings

In [126]:
my_var = 'barks'
print('A dog '+my_var)

A dog barks

In [129]:
print(f'A dog {my_var}')

A dog barks

In [130]:
print(f'''
aaaa
aaa
A dog {my_var}''')

aaaa
aaa
A dog barks

In [132]:
print("A dog {}".format(my_var))

A dog barks

In [134]:
print("Tab is over \t here")

Tab is over 	 here

In [135]:
print("C:\\Users\\user1")

C:\Users\user1

## Exercise: Notebooks, Functions & Variables

In [136]:
type('a')

str

In [138]:
num_x = 6-4
num_x

2

## Lists

In [139]:
list_float = [1.22,211.22,22.2,22.2,34.56]
list_float

[1.22, 211.22, 22.2, 22.2, 34.56]

In [140]:
list_bool = [True,True,False,False]
list_bool

[True, True, False, False]

In [141]:
cars_list = ["Toyota", 'Lamborgini','Bentley']
cars_list

['Toyota', 'Lamborgini', 'Bentley']

In [142]:
print(cars_list[0])

Toyota

In [143]:
print(cars_list[4])

IndexError: list index out of range

In [144]:
print(cars_list[3])

IndexError: list index out of range

In [145]:
len(cars_list+['Maserati'])

4

In [146]:
cars_list

['Toyota', 'Lamborgini', 'Bentley']

In [147]:
print(cars_list[1,2])

TypeError: list indices must be integers or slices, not tuple

In [148]:
print(cars_list[1:2])

['Lamborgini']

In [150]:
print(cars_list[1:3]) #slicing

['Lamborgini', 'Bentley']

In [151]:
print(cars_list[-1]) ##from last position

Bentley

In [152]:
cars_list [3] = Maserati
cars_list

NameError: name 'Maserati' is not defined

In [153]:
cars_list.append('Maserati')
cars_list

['Toyota', 'Lamborgini', 'Bentley', 'Maserati']

In [154]:
cars_list[2] = "Ferrari"
cars_list

['Toyota', 'Lamborgini', 'Ferrari', 'Maserati']

## List Operations

In [155]:
cars_list.append("Buggati")
cars_list

['Toyota', 'Lamborgini', 'Ferrari', 'Maserati', 'Buggati']

In [156]:
cars_list.insert(3,"Hyundai")
cars_list

['Toyota', 'Lamborgini', 'Ferrari', 'Hyundai', 'Maserati', 'Buggati']

In [157]:
len(cars_list)

6

In [158]:
cars_list.insert(4,'Mercedes')
cars_list

['Toyota',
 'Lamborgini',
 'Ferrari',
 'Hyundai',
 'Mercedes',
 'Maserati',
 'Buggati']

In [160]:
cars_list.extend(['Ford','BMW'])
cars_list

['Toyota',
 'Lamborgini',
 'Ferrari',
 'Hyundai',
 'Mercedes',
 'Maserati',
 'Buggati',
 'Ford',
 'BMW']

In [161]:
cars_list2 = ['Hennessy','Audi']
complete_cars_list = cars_list+cars_list2
complete_cars_list

['Toyota',
 'Lamborgini',
 'Ferrari',
 'Hyundai',
 'Mercedes',
 'Maserati',
 'Buggati',
 'Ford',
 'BMW',
 'Hennessy',
 'Audi']

In [162]:
cars_list

['Toyota',
 'Lamborgini',
 'Ferrari',
 'Hyundai',
 'Mercedes',
 'Maserati',
 'Buggati',
 'Ford',
 'BMW']

In [163]:
complete_cars_list.index('Hyundai')

3

In [164]:
complete_cars_list.remove('Hyundai')
complete_cars_list

['Toyota',
 'Lamborgini',
 'Ferrari',
 'Mercedes',
 'Maserati',
 'Buggati',
 'Ford',
 'BMW',
 'Hennessy',
 'Audi']

In [165]:
complete_cars_list.index('Hyundai')

ValueError: 'Hyundai' is not in list

## Useful List Operations

In [166]:
complete_cars_list += ['Volkswagen','Honda']
complete_cars_list

['Toyota',
 'Lamborgini',
 'Ferrari',
 'Mercedes',
 'Maserati',
 'Buggati',
 'Ford',
 'BMW',
 'Hennessy',
 'Audi',
 'Volkswagen',
 'Honda']

In [167]:
complete_cars_list.sort()
complete_cars_list

['Audi',
 'BMW',
 'Buggati',
 'Ferrari',
 'Ford',
 'Hennessy',
 'Honda',
 'Lamborgini',
 'Maserati',
 'Mercedes',
 'Toyota',
 'Volkswagen']

In [168]:
complete_cars_list.reverse()
complete_cars_list

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford',
 'Ferrari',
 'Buggati',
 'BMW',
 'Audi']

In [169]:
complete_cars_list.pop()
complete_cars_list

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford',
 'Ferrari',
 'Buggati',
 'BMW']

In [170]:
complete_cars_list.append('Ferrari')
complete_cars_list.count('Ferrari')

2

In [171]:
set(complete_cars_list) #convert to set and removes duplicates

{'BMW',
 'Buggati',
 'Ferrari',
 'Ford',
 'Hennessy',
 'Honda',
 'Lamborgini',
 'Maserati',
 'Mercedes',
 'Toyota',
 'Volkswagen'}

In [172]:
cars_list2

['Hennessy', 'Audi']

In [173]:
cars_list.clear()

In [174]:
cars_list2.clear()

In [175]:
cars_list

[]

In [178]:
cars_list2

[]

In [179]:
import copy

In [180]:
new_cars_list = copy.deepcopy(complete_cars_list) #deep copy does not reflect changes of original
new_cars_list

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford',
 'Ferrari',
 'Buggati',
 'BMW',
 'Ferrari']

In [181]:
new_cars_list2 = complete_cars_list[:] #deep copy does not reflect changes of original
new_cars_list

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford',
 'Ferrari',
 'Buggati',
 'BMW',
 'Ferrari']

In [182]:
shallow_copy_cars = complete_cars_list # refer to the same list
shallow_copy_cars+=['Chevrolet']
shallow_copy_cars

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford',
 'Ferrari',
 'Buggati',
 'BMW',
 'Ferrari',
 'Chevrolet']

In [183]:
shallow_copy_cars.remove('Chevrolet')
complete_cars_list

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford',
 'Ferrari',
 'Buggati',
 'BMW',
 'Ferrari']

## Built in List Functions

In [184]:
list_num = [12,20,22,34,56,11,23]
list_num

[12, 20, 22, 34, 56, 11, 23]

In [185]:
max(list_num)

56

In [186]:
min(list_num)

11

In [187]:
len(list_num)

7

In [188]:
list_num.sort()

In [189]:
list_num

[11, 12, 20, 22, 23, 34, 56]

In [190]:
list_num.append(24)
list_num

[11, 12, 20, 22, 23, 34, 56, 24]

In [191]:
new_list_num = sorted(list_num)
new_list_num

[11, 12, 20, 22, 23, 24, 34, 56]

In [192]:
list_num ## no sorting happened

[11, 12, 20, 22, 23, 34, 56, 24]

In [193]:
list_num *= 2 # concatenates it with itself twice
list_num

[11, 12, 20, 22, 23, 34, 56, 24, 11, 12, 20, 22, 23, 34, 56, 24]

In [194]:
list_num += 2 # not applicable for lists
list_num

TypeError: 'int' object is not iterable

In [195]:
all([0]) ##all are non zero elements

False

In [196]:
all([1,1]) ## all are non zero elements

True

In [197]:
all([1,2])

True

In [198]:
any([0]) ##function in Python checks if any element in an iterable is True. If at least one element is True, it returns True, otherwise it returns False

False

In [199]:
any([0,1]) #at least one is True

True

In [200]:
any([])

False

In [201]:
any([2,3])

True

## Perform Slice Operations

In [203]:
complete_cars_list[-2]

'BMW'

In [204]:
complete_cars_list

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford',
 'Ferrari',
 'Buggati',
 'BMW',
 'Ferrari']

In [205]:
complete_cars_list[0:4] #inclusive first index and exclusive of last index

['Volkswagen', 'Toyota', 'Mercedes', 'Maserati']

In [206]:
complete_cars_list[1:4] #inclusive first index and exclusive of last index

['Toyota', 'Mercedes', 'Maserati']

#### List slicing creates a deep copy so any changes will not affect

In [208]:
complete_cars_list[0:7]

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy']

In [209]:
complete_cars_list[5:6] #only shows at index 5

['Honda']

In [210]:
complete_cars_list[:3] ##interpret start at very beginning

['Volkswagen', 'Toyota', 'Mercedes']

In [211]:
complete_cars_list[3:] ##interpret to end at the very last

['Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford',
 'Ferrari',
 'Buggati',
 'BMW',
 'Ferrari']

In [215]:
complete_cars_list[0:-4] #start to 4th until the last index (not including this)

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford']

In [214]:
complete_cars_list

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford',
 'Ferrari',
 'Buggati',
 'BMW',
 'Ferrari']

## Step Size in Slicing Operations

In [219]:
complete_cars_list

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Hennessy',
 'Ford',
 'Ferrari',
 'Buggati',
 'BMW',
 'Ferrari']

In [218]:
my_car_list = complete_cars_list[:]
my_car_list[0:5:2] #skips or how much it moves from

['Volkswagen', 'Mercedes', 'Lamborgini']

In [221]:
my_car_list[2:7:3] ##you skip two other elements

['Mercedes', 'Honda']

In [224]:
my_car_list[1:4:2]

['Toyota', 'Maserati']

In [225]:
my_car_list[::-1] #step in reverse order

['Ferrari',
 'BMW',
 'Buggati',
 'Ferrari',
 'Ford',
 'Hennessy',
 'Honda',
 'Lamborgini',
 'Maserati',
 'Mercedes',
 'Toyota',
 'Volkswagen']

In [227]:
my_car_list[-4:0:-1]

['Ferrari',
 'Ford',
 'Hennessy',
 'Honda',
 'Lamborgini',
 'Maserati',
 'Mercedes',
 'Toyota']

In [228]:
my_car_list[::-2] #skips one element

['Ferrari', 'Buggati', 'Ford', 'Honda', 'Maserati', 'Toyota']

In [229]:
len(my_car_list)

12

In [230]:
my_car_list[6:-1] = ['Dodge','Nissan']

In [231]:
my_car_list

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Dodge',
 'Nissan',
 'Ferrari']

In [232]:
'Nissan' in my_car_list

True

In [233]:
my_car_list.pop(-2)

'Nissan'

In [234]:
my_car_list

['Volkswagen',
 'Toyota',
 'Mercedes',
 'Maserati',
 'Lamborgini',
 'Honda',
 'Dodge',
 'Ferrari']

## Strings as a List of Characters

In [235]:
x = 'galaxy'
x[0]

'g'

In [236]:
x[3]

'a'

In [237]:
x[6]

IndexError: string index out of range

In [238]:
x[1]='b' #strings are immutable (not able to be changed like a dict)

TypeError: 'str' object does not support item assignment

In [242]:
a,b,c,d,e,f = x # needs to be assigned to exact number of chars
print(a)

g

In [243]:
a,b,_,_,_,_ = x #doesnt really care about the underscores
print(b)

a

In [1]:
place = input('Where are you from?')

Where are you from? Los Angeles

In [2]:
len(place)

11

In [3]:
place[4:]

'Angeles'

In [5]:
place[-7:]

'Angeles'

In [6]:
place[0:11:2]

'LsAgls'

In [7]:
place[0:11:1]

'Los Angeles'

In [8]:
secondwordplace = place[-7:]

In [9]:
secondwordplace

'Angeles'

In [10]:
del secondwordplace
secondwordplace

NameError: name 'secondwordplace' is not defined

## Invoking Functions on Strings

In [12]:
print(place.startswith('L')) #startswith

True

In [13]:
print(place.startswith('r'))

False

In [14]:
print(place.endswith('s')) #endswith

True

In [15]:
print(place.endswith('Angeles')) #not just singular char

True

In [16]:
place.count('e') #count occurences

2

In [18]:
upper_place = place.upper()
upper_place

'LOS ANGELES'

In [19]:
upper_place.count('E')

2

In [20]:
place == upper_place #check if equal

False

In [22]:
lower_place = upper_place.lower()
lower_place #lowercase

'los angeles'

In [23]:
place.find('e') #find index position

7

In [24]:
place.find('Angeles')

4

In [25]:
place.index('R') #similar operation but throws error if not found unlike .find()

ValueError: substring not found

In [26]:
place.index('Angeles')

4

In [27]:
split_place = place.split('A')
split_place

['Los ', 'ngeles']

In [28]:
split_place = place.split(' ')
split_place ##splits on space

['Los', 'Angeles']

In [29]:
join_char = ',' #uses as the delimitter
join_char.join(split_place)

'Los,Angeles'

In [30]:
join_char = ' ' #uses as the delimitter
join_char.join(split_place)

'Los Angeles'

In [31]:
##or you can just simply include the character straight
'|'.join(split_place)

'Los|Angeles'

## Slicing on Strings

In [33]:
my_string = "Hello galaxy I'm using Python" #define variable for string, may not use single quotes for this one
print(my_string[0:11])

Hello galax

In [34]:
print(my_string[6:17])

galaxy I'm

In [35]:
print(my_string[::3]) #how many characters to skip with step function

Hlga msgyo

In [39]:
print(my_string[18:0:-3]) #when step is negative the start and end should also reflect

sm agl

In [44]:
print(my_string[4::-1])

olleH

In [45]:
some_string = my_string.split()
some_string #now is a list

['Hello', 'galaxy', "I'm", 'using', 'Python']

In [46]:
my_string.isupper() #are all strings in uppercase

False

In [48]:
my_string.lower().islower()

True

## Tuples

In [51]:
my_tuple = ()
my_tuple

()

In [52]:
type(my_tuple)

tuple

In [53]:
int_tuple = (1,2,3,4,5) #rounded brackets
print(int_tuple)

(1, 2, 3, 4, 5)

In [55]:
string_tuple = ("Hello","Galaxy","Universe")
print(string_tuple * 3) #repeating the whole tuple thrice

('Hello', 'Galaxy', 'Universe', 'Hello', 'Galaxy', 'Universe', 'Hello', 'Galaxy', 'Universe')

In [58]:
my_new_tuple = 1,"Hello",34.5 #tuple by default even if not using parenthesis
type(my_new_tuple)

tuple

In [59]:
mixed_tuple = (1,2,3,4,5,(6,7,7,8),[9,10,11])
mixed_tuple

(1, 2, 3, 4, 5, (6, 7, 7, 8), [9, 10, 11])

In [62]:
mixed_tuple[6]

[9, 10, 11]

In [63]:
mixed_tuple[6][0]

9

In [64]:
mixed_tuple[1:]

(2, 3, 4, 5, (6, 7, 7, 8), [9, 10, 11])

In [65]:
mixed_tuple[0:7:2] #slicing operations for tuple returns a tuple aswell

(1, 3, 5, [9, 10, 11])

In [66]:
mixed_tuple[-1]

[9, 10, 11]

In [67]:
mixed_tuple.index(3)

2

In [68]:
3 in mixed_tuple

True

In [69]:
[9,10,11] in mixed_tuple

True

In [71]:
int_tuple = 1,2,3
sum(int_tuple)

6

In [72]:
int_tuple = (1,2,2,2,2,2,3,3,3,3)
set(int_tuple) #convert tuple to set so no elements will repeat

{1, 2, 3}

## Tuple Being Immutable

In [1]:
tuple_a = (1,2,3,4,5)

In [2]:
tuple_b = ('a','b','c')
zipped = zip (tuple_a,tuple_b)
print(zipped)

<zip object at 0x00000211740F6240>

In [3]:
result = tuple(zipped)
print(result) #a tupple of tupples

((1, 'a'), (2, 'b'), (3, 'c'))

In [4]:
tuple_x,tuple_y = zip(*result)

In [5]:
print(tuple_x)
print(tuple_y)

(1, 2, 3)
('a', 'b', 'c')

In [7]:
zipped_list = zip(tuple_a,tuple_b)
result  = list(zipped_list)
print(result)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [9]:
 a = ('John','Josh')
b = ('Yes','No')
x = zip(a,b)

In [10]:
dict(x)

{'John': 'Yes', 'Josh': 'No'}

In [11]:
c = ('Just','Rex')
d = ('For','You')
e = ('Es', 'La')
y = zip(c,d,e)

In [12]:
set(y)

{('Just', 'For', 'Es'), ('Rex', 'You', 'La')}

## Other Complex Datasets

In [13]:
num_list = [1,2.43,'hex',False]
print(num_list)

[1, 2.43, 'hex', False]

In [14]:
type(num_list)

list

In [15]:
type(num_list[1])

float

In [16]:
type(num_list[3])

bool

In [17]:
num_t = (1,2.5,'jx',True)
num_t

(1, 2.5, 'jx', True)

In [18]:
type(num_t[3])

bool

In [19]:
my_dict = {'a':2,'b':3,'c':4,'d':4}
my_dict

{'a': 2, 'b': 3, 'c': 4, 'd': 4}

In [21]:
set_a = {1,2,2,2,2,3,4,4,4,5}
set_a

{1, 2, 3, 4, 5}

## Dictionaries & Sets in Python

In [22]:
empty_dict = {}
#mapping of key value pairs

In [23]:
bike_owners = {'Darren':'Duccati', 'Kenn':'Toyota','Raki':'Harley'}
bike_owners

{'Darren': 'Duccati', 'Kenn': 'Toyota', 'Raki': 'Harley'}

In [24]:
bike_owners['Darren'] #use the key as reference not an index

'Duccati'

In [25]:
bike_owners['Duccati'] #you cant use a value as reference because keys are the ones unique

KeyError: 'Duccati'

In [26]:
int_dict = {1:2,2:2,3:2}

In [27]:
int_dict #keys are unique but not necessarily the values should be

{1: 2, 2: 2, 3: 2}

In [28]:
student_details = {'Jake':1994,'Ingrid':2001,'Ian':2002}
student_details

{'Jake': 1994, 'Ingrid': 2001, 'Ian': 2002}

In [29]:
student_details.keys()

dict_keys(['Jake', 'Ingrid', 'Ian'])

In [30]:
'Henry' in student_details.keys() #asked if an element is seen among the keys

False

In [31]:
student_details.values()

dict_values([1994, 2001, 2002])

In [32]:
#dicts can also be updated by just assignment
student_details['Jake'] = 1990
student_details

{'Jake': 1990, 'Ingrid': 2001, 'Ian': 2002}

In [2]:
student_details = {'Jake':1994,'Ingrid':2001,'Ian':2002}
student_details.get('Jake')

1994

In [3]:
del student_details['Ingrid']
student_details

{'Jake': 1994, 'Ian': 2002}

## Nesting Complex Data Types with Dictionaries

In [4]:
fruit_qty = {}
fruit_qty

{}

In [5]:
fruit_qty['Orange']=30
fruit_qty['Apple']=40

In [6]:
fruit_qty

{'Orange': 30, 'Apple': 40}

In [7]:
fruit_qty['Watermelon']

KeyError: 'Watermelon'

In [8]:
fruit_qty['Watermelon']=10

In [9]:
fruit_qty_consumed = {'Banana':[10,20,30,40],'Orange':[11,22,12,34],'Apple':(1,2,2,3)}

In [10]:
fruit_qty_consumed

{'Banana': [10, 20, 30, 40], 'Orange': [11, 22, 12, 34], 'Apple': (1, 2, 2, 3)}

In [11]:
fruit_qty_consumed["Orange"][1]=69
fruit_qty_consumed

{'Banana': [10, 20, 30, 40], 'Orange': [11, 69, 12, 34], 'Apple': (1, 2, 2, 3)}

In [12]:
fruit_nested = {'Apple':{'Banana':80}}
fruit_nested['Apple']['Banana']

80

In [13]:
student_details = {'Jake':1994,'Ingrid':2001,'Ian':2002}
len(student_details.keys())

3

In [14]:
sorted(student_details) #sorts the keys

['Ian', 'Ingrid', 'Jake']

In [15]:
sorted(student_details,reverse=True)

['Jake', 'Ingrid', 'Ian']

In [16]:
student_details.items() #key value pairs in form of tuple

dict_items([('Jake', 1994), ('Ingrid', 2001), ('Ian', 2002)])

In [17]:
copy_student_details = student_details.copy()
copy_student_details

{'Jake': 1994, 'Ingrid': 2001, 'Ian': 2002}

In [18]:
copy_student_details.pop('Jake') #pop key and returns the value of popped key

1994

In [19]:
copy_student_details.popitem() #randomly pops value key pair

('Ian', 2002)

In [20]:
copy_student_details

{'Ingrid': 2001}

In [21]:
copy_student_details.clear() #clears all entries in the dict

In [22]:
del copy_student_details #free up the memory of that dict

## Sets

In [26]:
set_string = {"Bob","Ava","Kim"}

In [27]:
print(set_string)

{'Bob', 'Ava', 'Kim'}

In [28]:
type(set_string)

set

In [30]:
empy_set = set()

In [31]:
mixed_set = {'Just',80,True,(1,2,3),[4,5,6]} #cant have a list because its immutable

TypeError: unhashable type: 'list'

In [34]:
mixed_set = {'Just',80,True,(1,2,3)} #in its nature, it is mutable

In [35]:
mixed_set[1] #not ordered so they do not support indexing

TypeError: 'set' object is not subscriptable

In [36]:
mixed_set.add(9.2)
mixed_set

{(1, 2, 3), 80, 9.2, 'Just', True}

In [37]:
len(mixed_set)

5

In [39]:
max(set_string)

'Kim'

In [40]:
min(set_string)

'Ava'

In [41]:
set_string.discard('Kim')

In [42]:
set_string.remove('Kim') #error

KeyError: 'Kim'

In [44]:
set_string.discard('Kim') #without error

In [45]:
set_string.union(mixed_set)

{(1, 2, 3), 80, 9.2, 'Ava', 'Bob', 'Just', True}

In [48]:
set_string.intersection({'Bob','Ava'})

{'Ava', 'Bob'}

In [50]:
set_string.intersection_update({'Bob','Ava'})

In [51]:
set_string #all the intersections only will be the one used to update what the set now contains

{'Ava', 'Bob'}

In [53]:
{'Ava','Bob'}.isdisjoint({'Casa'}) #yes because it does not contain elements

True

In [54]:
{'Ava','Bob'}.issuperset({'Ava'})

True

In [56]:
{'Ava'}.issubset({'Ava','Bob'})

True

## Nested Lists

In [58]:
car_matrix = [['Hennessey',1928],['Speed',111]]

In [59]:
car_matrix[0][1]

1928

In [63]:
car_matrix[0][-1:0:-1] #slicing

[1928]

## Performing List Conversion

In [65]:
some_list = [3,4,5,6,6,6]

In [66]:
set(some_list)

{3, 4, 5, 6}

In [67]:
some_list = [[1,2],[2,2.1],[3,2.1]]
dict(some_list) #can convert to dict but cant do for three and above

{1: 2, 2: 2.1, 3: 2.1}

In [68]:
some_list = [[1,2],[2,2.1],[3,[5,6]]]
dict(some_list) #doesnt care if the value has a nested list

{1: 2, 2: 2.1, 3: [5, 6]}

In [69]:
car_matrix

[['Hennessey', 1928], ['Speed', 111]]

In [70]:
dict(car_matrix)

{'Hennessey': 1928, 'Speed': 111}

In [72]:
dict(car_matrix).values()

dict_values([1928, 111])

## Shallow and Deep Copies

In [73]:
import copy #or use [:]
og_str = 'hello'

In [75]:
deep_str = copy.copy(og_str) #same with copy.deepcopy but not for nested

In [76]:
deep_str = og_str[:]

In [81]:
deep_str = 'bye'

In [82]:
names = ['Ava','Dave','Cam']
new_names = names
new_names[1] = 'Bob'
names  #shallow copy had been used so just a reference

['Ava', 'Bob', 'Cam']

In [83]:
deep_names = copy.copy(names)
deep_names[1] = 'Abel'
names #deep copy so separate entity

['Ava', 'Bob', 'Cam']

In [84]:
old_list = [[1,2,3],[4,5,6],[7,8,9]]
new_list = copy.copy(old_list)
new_list[0][0] = 10
old_list #it made a deep copy of the outer list but the inner nested list will reflect

[[10, 2, 3], [4, 5, 6], [7, 8, 9]]

In [89]:
old_list = [[1,2,3],[4,5,6],[7,8,9]]
new_list = copy.deepcopy(old_list) #the .deepcopy() handles this scenario
new_list[0][0] = 10 #any changes wont reflect since it does deep copy no matter what
old_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [92]:
old_tuple = ('Bob','Bobby','Bobt',['Banana','Cherry'])
new_tuple = old_tuple

In [95]:
new_tuple[3][1] = 'Watermelon'
old_tuple  #updates as a reference even if using .copy so need to use copy.deepcopy

('Bob', 'Bobby', 'Bobt', ['Banana', 'Watermelon'])

In [96]:
new_tuple = copy.deepcopy(old_tuple)
new_tuple[3][1] = 'Pumpkin'
old_tuple #no changes made

('Bob', 'Bobby', 'Bobt', ['Banana', 'Watermelon'])

In [102]:
dict_months = {'jan':1,'feb':5,'march':67,'april':[67,77]}
copy_dict = copy.copy(dict_months)

In [103]:
copy_dict['jan'] = 2009
dict_months #no changes as its a deep copy

{'jan': 1, 'feb': 5, 'march': 67, 'april': [67, 77]}

In [104]:
copy_dict = copy.deepcopy(dict_months)

In [106]:
copy_dict['april'] = [23,22]
dict_months

{'jan': 1, 'feb': 5, 'march': 67, 'april': [67, 77]}

In [107]:
copy_dict

{'jan': 1, 'feb': 5, 'march': 67, 'april': [23, 22]}

## Python Conditions

In [108]:
10 == 10

True

In [109]:
'Hello' == 'Hello'

True

In [110]:
'Hello' == 10

False

In [111]:
20 != 10

True

In [114]:
(2+3) < 6

True

In [115]:
8+5 == 10+3

True

In [116]:
0 == 40%2

True

In [117]:
5 > 3 and 4 < 6

True

In [118]:
10 == 10 == True

False

In [119]:
(10 == 10) == True

True

In [120]:
4 > 6 or 2 > 3

False

## If statements

In [121]:
if 10 < 15:
    print("10 is less than 15")

10 is less than 15

In [2]:
if 'Alexa' in ['Alexa','Robert','Alice','Bobby']:
    print("Alexa is in the list")

Alexa is in the list

In [4]:
a = 5
b = 3
if a>b and b<a:
    print(a,"is greater than",b)

5 is greater than 3

In [6]:
x = 45
y = 78
if not (x>y):
    print(x,"is not greater than",y)

45 is not greater than 78

## If and Elif

In [7]:
if x > y:
    print("Shouldn't happen")
else:
    print("The expected happened")

The expected happened

In [8]:
num = 50
print("num before expression: ",num)
num = num - 20 if num > 20 else num +20
print("num after expression:",num)

num before expression:  50
num after expression: 30

In [9]:
if 15 > 20:
    print("Shouldn't")
elif 15 == 20:
    print("Impossible")
else:
    print("Expected")

Expected

In [10]:
##Nested if else statements
if 15 > 20:
    print("Shouldn't")
elif 15 == 20:
    print("Impossible")
else:
    print("Expected")
    if 3 > 4:
        print("No way")
    else:
        print("Yes")

Expected
Yes

In [12]:
##Type conversion
type(66)
float(66)

66.0

In [13]:
z = 66
type(a)
my_float_z = float(z)
type(my_float_z)

float

In [14]:
int(66.6)

66

In [15]:
print("John has "+ str(5524.53) + " points.")

John has 5524.53 points.

In [16]:
print("John's age is"+z) #commas work for this case but if +, need to convert to str for concat

TypeError: can only concatenate str (not "int") to str

In [17]:
print("John'a age is "+ str(z))

John'a age is 66

In [18]:
bin(5)

'0b101'

In [19]:
int('0b1010',2)

10

In [22]:
int('AB1010',16)

11210768

In [23]:
int('0x1010AB',16)

1052843

In [24]:
chr(97)

'a'

In [26]:
complex(1j)

1j

In [27]:
complex(1,2)

(1+2j)

In [9]:
new_list = ["Red", "Blue", "White", "Green"]
z = sorted(new_list)
d = list(z)
d[0], d[1], d[2], d[3] = d[3], d[2], d[1], d[0]
d[0], d[1], d[2], d[3]
print(z)

['Blue', 'Green', 'Red', 'White']

## Loops and Conditional Statements

In [17]:
for letter in ['H','e','l','l','o']:
    print(letter)

H
e
l
l
o

In [1]:
stringch = "hello"
for letter in stringch:
    print(letter)
else:
    print("No more characters left")

h
e
l
l
o
No more characters left

In [2]:
us_cities = ["new york","los angeles","chicago"]
for city in us_cities:
    if city == "new york":
        print("new york is present in the list")

new york is present in the list

In [6]:
numbers = [1,2,3,3,34,4,4,5]
for num in numbers:
    if num % 2 == 0:
        print(num,"is an even number found in the list")
    else:
        print(num,"is an odd number found in the list")

1 is an odd number found in the list
2 is an even number found in the list
3 is an odd number found in the list
3 is an odd number found in the list
34 is an even number found in the list
4 is an even number found in the list
4 is an even number found in the list
5 is an odd number found in the list

In [8]:
all_names = [['bobby','gum'],['harold','jj','simon']]
for sublist in all_names:
    for name in sublist:
        print(name)

bobby
gum
harold
jj
simon

In [10]:
##range
my_range = range(5)
my_range

range(0, 5)

In [11]:
tuple(my_range)

(0, 1, 2, 3, 4)

In [12]:
list(my_range)

[0, 1, 2, 3, 4]

In [13]:
list(range(-5,5)) #just like slicing included beginning non included end

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]

In [14]:
for i in range(6):
    print (i)

0
1
2
3
4
5

In [16]:
for _ in range(3):#i doesnt really matter then can use _ as convension
    print("Hello")

Hello
Hello
Hello

In [18]:
for _ in range(2**2):
    print("python")

python
python
python
python

In [19]:
for num in range(5,10):
    print("number:",num)

number: 5
number: 6
number: 7
number: 8
number: 9

In [20]:
x = range(5)

for i in reversed(x):
    print(i)

4
3
2
1
0

In [21]:
for i in reversed("welcome"):
    print(i)

e
m
o
c
l
e
w

In [24]:
list(range(5,10,2)) #a step can be used in ranges aswell like slicing

[5, 7, 9]

In [25]:
list(range(-2,-10,-2))

[-2, -4, -6, -8]

In [29]:
my_dict = {0:'yes',1:'yello'}
for num in my_dict.values():
    print(num)

yes
yello

In [31]:
my_dict = {0:'yes',1:'yello'}
for num in my_dict:
    print(num)

0
1

## Break, Continue, Pass Statement

In [32]:
for letter in "python":
    print(letter)
    if letter == 'o':
        break #o terminates the loop

p
y
t
h
o

In [33]:
for char in 'icecream':
    if char == 'c':
        print('A letter c was found. break loop')
        break
else:
    print('The letter c was never found in the string')

A letter c was found. break loop

In [34]:
num = int(input('Enter a number'))
for i in range(2,num):
    if num % i == 0:
        print("It is not a prime number")
        break
else:
    print(num,"is a prime number")

Enter a number 3

3 is a prime number

In [35]:
##continue statements
for letter in "future":
    if letter == 'r':
        continue # after the continue statement it will all be terminated
    print(letter) # this will be terminated within the for loop
print('The end')

f
u
t
u
e
The end

In [37]:
## pass statement
for letter in 'string':
    if letter == 'r':
        pass #use to denote nothing is to be done
    print(letter)

s
t
r
i
n
g

In [40]:
odd_count = 0
total_count = 0

for i in range(10):
    if (i%2==0):
        pass
    else:
        print(i)
        odd_count+=1
    total_count+=1
    print("Count of odds",odd_count)
    print("Total count",total_count)

Count of odds 0
Total count 1
1
Count of odds 1
Total count 2
Count of odds 1
Total count 3
3
Count of odds 2
Total count 4
Count of odds 2
Total count 5
5
Count of odds 3
Total count 6
Count of odds 3
Total count 7
7
Count of odds 4
Total count 8
Count of odds 4
Total count 9
9
Count of odds 5
Total count 10

In [44]:
my_str = input("Enter a number:")
digits = 0
letters = 0

for i in my_str:
    if i.isdigit():
        digits+=1
    elif i.isalpha():
        letters+=1
    else:
        pass
print("No. of digits:",digits)
print("No. of letters:",letters)

Enter a number: 1h3bhj3b2j

No. of digits: 4
No. of letters: 6

In [45]:
##comprehensions
num = range(10)
[x*x for x in num] #operation to perform x * x in a for looped num filled with x

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [47]:
letters = [letter for letter in 'fulltank']
letters

['f', 'u', 'l', 'l', 't', 'a', 'n', 'k']

In [50]:
list_of_words = ['all','imitate',"/comment",'meticulous','lava']
items = [word[0].upper() for word in list_of_words]
items

['A', 'I', '/', 'M', 'L']

In [51]:
[word.lower() for word in items]

['a', 'i', '/', 'm', 'l']

In [52]:
[x*x for x in num if x%2 == 0]

[0, 4, 16, 36, 64]

In [54]:
multiples_27 = [num for num in range(300) if num%27==0]
multiples_27

[0, 27, 54, 81, 108, 135, 162, 189, 216, 243, 270, 297]

## While loops

In [55]:
number = 20
while number < 25:
    print(number)
    number+=1

20
21
22
23
24